 /* #base
   -------------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: calc((15 / 16) * 100%);
  line-height: 1.6;
  @media (--md-up) {
    font-size: calc((16 / 16) * 100%);
  }
}

body {
  color: var(--color);
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: var(--font-weight--normal);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-kerning: normal;
  background-color: var(--background-color);
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * `dt`と`dd`の左端を揃えます。
 */
dd {
  margin-left: 0;
}

a {
  text-decoration: underline;
  color: var(--color--link);
  &:hover {
    text-decoration: underline;
  }
}

/**
 * 日本語では斜体を使用しないためリセットします。
 */
[lang="ja"] i,
[lang="ja"] cite,
[lang="ja"] em,
[lang="ja"] address,
[lang="ja"] dfn {
  font-style: normal;
}

b,
strong {
  font-weight: var(--font-weight--bold);
}

/**
 * フルードイメージにします。
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* IE10以降`input[type="text"]`の入力内容の消去を非表示にします。 */
input::-ms-clear {
  visibility: hidden;
}

/* IE10以降の`input[type="password"]`のマスクの一時的解除を非表示にします。 */
input::-ms-reveal {
  visibility: hidden;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-top: 0;
  margin-bottom: 0;
}
