 /* #listInline
   -------------------------------------------------------------------------- */
.o-listInline {
  display: block;
  margin: 0;
  font-size: 0;
  @apply --listUnstyled;
}

.o-listInline__item {
  display: inline-block;
  font-size: medium;
  font-size: 1rem;
  vertical-align: top;
}

.o-listInline--medium {
  & > .o-listInline__item:not(:last-child) {
    margin-right: 1em;
  }
}
