 /* #table
   -------------------------------------------------------------------------- */
.o-table {
  width: 100%;
  & th,
  & td {
    padding: 1em;
  }
}

/**
 * セルを均等にします。`width`を1つだけ指定した場合は、残りのセルが均等になります。
 */
.o-table--fixed {
  table-layout: fixed;
}
