 /* #button
   -------------------------------------------------------------------------- */
/*
---
name: button
category: component
tag: form
---

ボタンオブジェクトです。

```jade
a.c-button(href="#") ボタン
button.c-button(type="button") ボタン
input.c-button(type="button" value="ボタン")
```
*/
.c-button {
  display: inline-block;
  margin: 0;
  padding: 1em 2em;
  border: none;
  border-radius: var(--border-radius);
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  appearance: none;
  &:--onEvent {
    text-decoration: none;
  }
  &:disabled,
  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.c-button--full {
  width: 100%;
}

.c-button--primary {}
.c-button--secondary {}
.c-button--tertiary {}
.c-button--quaternary {}
