 /* #delimiter
   -------------------------------------------------------------------------- */
.c-delimiter {
  box-sizing: inherit;
  display: block;
  width: 100%;
  height: auto;
  margin: 1.6rem auto;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

.c-delimiter--small {
  margin: 0.8rem auto;
}
