 /* #delimiter
   -------------------------------------------------------------------------- */
.c-delimiter {
  box-sizing: inherit;
  display: block;
  width: 100%;
  height: 1px;
  margin: 1.6rem auto;
  background-color: #e5e5e5;
  border: 0;
}

.c-delimiter--small {
  margin: 0.8rem auto;
}
