 /* #delimiter
   -------------------------------------------------------------------------- */
/*
---
name: delimiter
category: component
---

`<hr>`のような区切り記号（デリミタ）です。

```jade
p テキストです。
hr.c-delimiter
p テキストです
```
*/
.c-delimiter {
  box-sizing: inherit;
  display: block;
  width: 100%;
  height: auto;
  margin: 1.6rem auto;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

.c-delimiter--small {
  margin: 0.8rem auto;
}
