 /* #embed
   -------------------------------------------------------------------------- */
/*
---
name: embed
category: component
tag: Movie
---

Youtubeなどをレスポンシブ対応させます。

```jade
.c-embed.
  <iframe width="560" height="315" src="https://www.youtube.com/embed/1OKZOV-iLj4"></iframe>
```
*/
.c-embed {
  display: block;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: calc((9 / 16) * 100%);
}

.c-embed__item,
.c-embed iframe,
.c-embed embed,
.c-embed object,
.c-embed video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.c-embed--4to3 {
  padding-bottom: calc((3 / 4) * 100%);
}
