 /* #heading3
   -------------------------------------------------------------------------- */
.c-heading3 {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.4;
  padding: 0.5em;
  background-color: #f3f3f3;
  border-left: 5px solid #0a41a6;
}
