 /* #icon
   -------------------------------------------------------------------------- */
@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('eot'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --icon: {
    position: relative;
    top: -0.1em;
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "iconfont";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    speak: none;
  }
}

:root {
  --icon--angle-down: "\EA01";
  --icon--angle-left: "\EA02";
  --icon--angle-right: "\EA03";
  --icon--angle-up: "\EA04";
  --icon--caret-down: "\EA05";
  --icon--check: "\EA06";
  --icon--external-link: "\EA07";
  --icon--map-marker: "\EA08";
  
}

.c-icon { display: inline-block; }

.c-icon:before {
  @apply --icon;
}

.c-icon--angle-down:before { content: "\EA01"; }
.c-icon--angle-left:before { content: "\EA02"; }
.c-icon--angle-right:before { content: "\EA03"; }
.c-icon--angle-up:before { content: "\EA04"; }
.c-icon--caret-down:before { content: "\EA05"; }
.c-icon--check:before { content: "\EA06"; }
.c-icon--external-link:before { content: "\EA07"; }
.c-icon--map-marker:before { content: "\EA08"; }
