 /* #inputRadio
   -------------------------------------------------------------------------- */
.c-inputRadio {
  position: relative;
  cursor: pointer;
}

.c-inputRadio > input[type="radio"] {
  cursor: pointer;
  appearance: none;
}

.c-inputRadio:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -0.1em;
  left: 0;
  width: 1em;
  height: 1em;
  margin: auto;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  background-color: #fff;
}

.c-inputRadio > input[type="radio"]:checked:after {
  content: "";
  background-image: url("/assets/img/disc.svg");
  background-repeat: no-repeat;
  background-size: 0.5em;
  position: absolute;
  top: 0;
  left: 0.25em;
  bottom: 0;
  margin: auto;
  width: 1em;
  height: 1em;
}

.c-inputRadio[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
  & > input[type="radio"] {
    display: none;
  }
}
