 /* #inputRadio
   -------------------------------------------------------------------------- */
/*
---
name: inputRadio
category: component
tag: Form
---

`type="radio"`のデフォルトスタイルです。

```jade
input.c-inputRadio(type="radio" id="radio1" name="radio1")
label(for="radio1") ラジオボタン1

input.c-inputRadio(type="radio" id="radio2" name="radio1")
label(for="radio2") ラジオボタン2

input.c-inputRadio(type="radio" disabled id="radio3" name="radio3")
label(for="radio3" disabled) disabled
```
*/
.c-inputRadio {
  display: none;
}

.c-inputRadio + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.c-inputRadio + label:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -0.1em;
  left: 0;
  width: 1em;
  height: 1em;
  margin: auto;
  margin-right: 0.25em;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  background-color: #fff;
}

.c-inputRadio:checked + label:after {
  content: "";
  background-image: url("/assets/img/disc.svg");
  background-repeat: no-repeat;
  background-size: 0.5em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.25em;
  margin: auto;
  width: 1em;
  height: 1em;
}

.c-inputRadio:disabled,
.c-inputRadio + label[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.c-inputRadio:disabled + label:after {
  display: none;
}
