 /* #label
   -------------------------------------------------------------------------- */
/*
---
name: label
category: component
tag: Form
---

インラインで表示するラベルオブジェクトです。

```jade
span.c-label ラベル
label.c-label ラベル
```
*/
.c-label {
  display: inline-block;
  padding: 0.5em;
  color: #fff;
  font-size: 0.8em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background-color: var(--color--link);
  &:--onEvent {
    color: #fff;
    text-decoration: none;
  }
}
