 /* #label
   -------------------------------------------------------------------------- */
.c-label {
  display: inline-block;
  padding: 0.5em;
  color: #fff;
  font-size: 0.8em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background-color: var(--color--link);
  &:--onEvent {
    color: #fff;
    text-decoration: none;
  }
}
