 /* #laed
   -------------------------------------------------------------------------- */
/*
---
name: lead
category: component
tag: Text
---

視覚的に目立たせるときに使うスタイルです。

```jade
p.c-lead リード文です。
```
*/
.c-lead {
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: bold;
  color: #0a41a6;
}
