 /* #list
   -------------------------------------------------------------------------- */
.c-list {
  display: table;
  @apply --listUnstyled;
}

/**
 * 音声ブラウザに読み上げるのが適切でない役物やアイコンなどは、
 * `background-image`で表示させるか、
 * `li:before`ではなく`li > span:before`に表示して`<span aria-hidden="true">`のように指定します。
 */
.c-list > li {
  display: table-row;
  &:before,
  & > span:before {
    display: table-cell;
  }
}

/* ※list */
.c-list--note > li:before {
  content: "※";
}

/* ※1 list */
.c-list--noteOrder > li {
  counter-increment: noteOrder;
  &:target {
    background-color: lightgray;
  }
  &:before {
    content: "※" counter(noteOrder);
    padding-right: 0.25em;
  }
}

/* (1) list */
.c-list--bracketOrder > li {
  counter-increment: bracketOrder;
  &:before {
    content: "(" counter(bracketOrder) ")";
    padding-right: 0.25em;
  }
}

/**
 * 1 list
 *   1.1 list
 *   1.2 list
 */
.c-list--order li {
  counter-increment: order;
  &:before {
    content: counters(order, ".");
    padding-right: 0.5em;
    text-align: right;
  }
  & ol {
    counter-reset: order;
    @apply --listUnstyled;
  }
}
