 /* #textarea
   -------------------------------------------------------------------------- */
/*
---
name: textarea
category: component
tag: Form
---

`<textarea>`のデフォルトスタイルです。

```jade
textarea.c-textarea(placeholder="テキストエリアです")

label(for="textarea1").c-textarea__textTop textareaタグの説明です。
textarea.c-textarea(id="textarea1" placeholder="テキストエリアです")

textarea.c-textarea(id="textarea2" placeholder="テキストエリアです")
label(for="textarea2").c-textarea__textTop textareaタグの説明です。

textarea.c-textarea.c-textarea--large(placeholder="テキストエリアです")

textarea.c-textarea(placeholder="disabled" disabled)
```
*/
.c-textarea {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 7em;
  margin: 0;
  padding: 0.5em 1em;
  font-size: 1em;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  box-shadow:1px 1px 6px -3px #9e9e9e inset;
  border-radius: var(--border-radius);
  appearance: none;
  transition-duration: 0.3s;
  transition-property: border-color, box-shadow;
  &::placeholder {
    color: #aaa;
  }
  &:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: #eee;
  }
}

.c-textarea--large {
  height: 14em;
}

.c-textarea__textTop {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.c-textarea__textBottom {
  display: inline-block;
  margin-top: 0.25rem;
}
