 /* #title
   -------------------------------------------------------------------------- */
/*
---
name: title
category: component
tag: Heading
---

`<h3>`で使われるような見出しのスタイルです。

```jade
h1.c-title.l-content__title ページタイトルです。
h1.c-title ページタイトルです。
```
*/
.c-title {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.4;
  border-bottom: 5px solid #eee;
}
