 /* #title
   -------------------------------------------------------------------------- */
.c-title {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.4;
  border-bottom: 5px solid #eee;
}
