 /* #media
   -------------------------------------------------------------------------- */
.c-media {
  display: block;
  @apply --clearfix;
}

.c-media__image,
.c-media__body {
  display: block;
  float: left;
  & > :last-child {
    margin-bottom: 0;
  }
}

.c-media__image {
  margin-right: 1rem;
}

.c-media__image > img {
  display: block;
}

.c-media__body {
  overflow: hidden;
}
