 /* #ratio
   -------------------------------------------------------------------------- */
.c-ratio {
  display: block;
  overflow: hidden;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: calc((1 / 1) * 100%);
  }
}

.c-ratio__content,
.c-ratio > iframe,
.c-ratio > embed,
.c-ratio > object {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-ratio--16to9 {
  &:before {
    padding-bottom: calc((9 / 16) * 100%);
  }
}

.c-ratio--4to3 {
  &:before {
    padding-bottom: calc((3 / 4) * 100%);
  }
}

.c-ratio--3to2 {
  &:before {
    padding-bottom: calc((2 / 3) * 100%);
  }
}

.c-ratio--2to1 {
  &:before {
    padding-bottom: calc((1 / 2) * 100%);
  }
}
