 /* #listOrdered
   -------------------------------------------------------------------------- */
.p-listOrdered {
  @apply --listUnstyled;
  display: table;
}

.p-listOrdered__item {
  display: table-row;
  counter-increment: ordered;
}

.p-listOrdered__item:before {
  content: counters(ordered, ".") " ";
  display: table-cell;
  padding-right: 0.5em;
  text-align: right;
}

.p-listOrdered__items {
  @apply --listUnstyled;
  counter-reset: ordered;
}
