 /* #listNote
   -------------------------------------------------------------------------- */
.p-listNote {
  display: table;
  @apply --listUnstyled;
}

.p-listNote__item {
  display: table-row;
  &:before {
    display: table-cell;
  }
}

[lang="ja"] .p-listNote__item:before {
  content: "※";
}

[lang="en_US"] .p-listNote__item:before {
  content: "※";
}

.p-listNote__items {
  margin-left: 1em;
  @apply --listUnstyled;
}
