 /* #list
   -------------------------------------------------------------------------- */
.p-list {
  display: table;
  @apply --listUnstyled;
}

/**
 * 音声ブラウザに読み上げさせたくない役物やアイコンなどは、
 * `li:before`ではなく、`li > span:before`に表示し、`<span aria-hidden="true">`のように指定します。
 */
.p-list > li {
  display: table-row;
  &:before,
  & > span:before {
    display: table-cell;
  }
}

/* ※list */
.p-list--asterisk > li:before {
  content: "※";
}

/* ※1 list */
.p-list--asteriskOrder > li {
  counter-increment: asteriskOrder;
  &:before {
    content: "※" counters(asteriskOrder, ".");
    padding-right: 0.25em;
  }
}

/* ・list */
.p-list--bullet > li:before {
  content: "・";
}

/* — list */
.p-list--dash > li:before {
  content: "\2014";
  position: relative;
  top: -0.1em;
  padding-right: 0.5em;
}

/* (1) list */
.p-list--bracketsOrder > li {
  counter-increment: bracketsOrder;
  &:before {
    content: "(" counter(bracketsOrder) ")";
    padding-right: 0.25em;
  }
}

/**
 * 1 list
 *   1.1 list
 *   1.2 list
 */
.p-list--order li {
  counter-increment: order;
  &:before {
    content: counters(order, ".");
    padding-right: 0.5em;
    text-align: right;
  }
  & ol {
    counter-reset: order;
    @apply --listUnstyled;
  }
}
