 /* #content
   -------------------------------------------------------------------------- */
.l-content {
  & > :last-child {
    margin-bottom: 0;
  }
}

.l-content__section {
  & > :last-child {
    margin-bottom: 0;
  }
}

.l-content__subSection {
  & > :last-child {
    margin-bottom: 0;
  }
}
