 /* #grid
   -------------------------------------------------------------------------- */
.l-grid {
  display: block;
  font-size: 0;
  @apply --listUnstyled;
}

.l-grid__item {
  display: inline-block;
  width: 100%;
  font-size: medium;
  font-size: 1rem;
  vertical-align: top;
}

.l-grid--medium {
  margin-left: -1rem;
  & > .l-grid__item {
    padding-left: 1rem;
  }
}

.l-grid--middle > .l-grid__item {
  vertical-align: middle;
}

.l-grid--bottom > .l-grid__item {
  vertical-align: bottom;
}

.l-grid--center {
  text-align: center;
  & > .l-grid__item {
    text-align: left;
  }
}

.l-grid--right {
  text-align: right;
  & > .l-grid__item {
    text-align: left;
  }
}

.l-grid--reverse {
  text-align: left;
  direction: rtl;
  & > .l-grid__item {
    text-align: left;
    direction: ltr;
  }
}

@media (--md-up) {
  .l-grid--reverse-md {
    text-align: left;
    direction: rtl;
    & > .l-grid__item {
      text-align: left;
      direction: ltr;
    }
  }
}

@media (--lg-up) {
  .l-grid--reverse-lg {
    text-align: left;
    direction: rtl;
    & > .l-grid__item {
      text-align: left;
      direction: ltr;
    }
  }
}

.l-grid--col2 > .l-grid__item {
  width: calc((6 / 12) * 100%);
}

@media (--md-up) {
  .l-grid--col2-md > .l-grid__item {
    width: calc((6 / 12) * 100%);
  }
}

@media (--lg-up) {
  .l-grid--col2-lg > .l-grid__item {
    width: calc((6 / 12) * 100%);
  }
}

.l-grid--col3 > .l-grid__item {
  width: calc((4 / 12) * 100%);
}

@media (--md-up) {
  .l-grid--col3-md > .l-grid__item {
    width: calc((4 / 12) * 100%);
  }
}

@media (--lg-up) {
  .l-grid--col3-lg > .l-grid__item {
    width: calc((4 / 12) * 100%);
  }
}

.l-grid--col4 > .l-grid__item {
  width: calc((3 / 12) * 100%);
}

@media (--md-up) {
  .l-grid--col4-md > .l-grid__item {
    width: calc((3 / 12) * 100%);
  }
}

@media (--lg-up) {
  .l-grid--col4-lg > .l-grid__item {
    width: calc((3 / 12) * 100%);
  }
}
