 /* #blog
   -------------------------------------------------------------------------- */
.s-blog {
  & h2 {}
  & h3 {}
  & h4 {}
  & h5 {}
  & h6 {}
  & p {}
  & ul,
  & ol {}
  & blockquote {}
  & img {}
  & code {}
  & pre code {}
}
