 /* #button
   -------------------------------------------------------------------------- */
.p-button {
  display: inline-block;
  margin: 0;
  padding: 1em 2em;
  border: none;
  border-radius: var(--border-radius);
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  appearance: none;
  &:--onEvent {
    text-decoration: none;
  }
  &:disabled,
  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.p-button--full {
  width: 100%;
}

.p-button--primary {}
.p-button--secondary {}
.p-button--tertiary {}
.p-button--quaternary {}
