 /* #content
   -------------------------------------------------------------------------- */
/*
---
name: content
category: Templates
---

コンテンツエリアのレイアウト例です。

```jade
.t-content__body
  section.t-content__firstSection
    h2.t-content__heading2.a-heading2 見出し2
    section.t-content__secondSection
      h3.t-content__heading3.a-heading3 見出し3
      p.t-content__text ボディーテキスト
      p.t-content__text ボディーテキスト

      .t-grid.t-grid--medium.t-grid--col2-md.t-content__text
        .t-grid__item
          figure.m-figure
            img.m-figure__image(src="https://placehold.jp/600x400.png" alt="")
            figcaption.m-figure__caption.m-figure__caption--center キャプション
        .t-grid__item
          figure.m-figure
            img.m-figure__image(src="https://placehold.jp/600x400.png" alt="")
            figcaption.m-figure__caption.m-figure__caption--center キャプション

      ul.t-content__text.a-list.a-list--note
        li 注釈リスト
        li 注釈リスト
  section.t-content__firstSection
    h2.t-content__heading2.a-heading2 見出し2
    p.t-content__text ボディーテキスト
```
*/
/**
 * コンテンツエリアのレイアウトを指定します。
 * Elementでメインコンテンツ内のレイアウトを指定します。
 * `.t-wrapper__2culumn`を使用することで2カラムレイアウトにすることもできます。
 * e.g.
  article.t-content
    header.t-content__head
      p メインヘッダー
    .t-content__body
      p メインコンテンツ
    footer.t-content__foot
      p メインフッター
 */
.t-content {
  display: block;
  width: 100%;

  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツのコンテンツヘッダーです。
 * `.t-content__body`に対して下側の余白を指定します。
 */
.t-content__head {
  margin-bottom: 3.2rem;
  padding: 0 1rem 0;

  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツの本文です。
 * `.t-content__head`と`.t-content__foot`から余白を指定されることがあります。
 */
.t-content__body {
  padding: 0 1rem 1rem;

  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツのコンテンツフッターです。
 * `.t-content__body`に対して上側の余白を指定します。
 */
.t-content__foot {
  margin-top: 3.2rem;

  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * ページタイトルです。
 * `.t-content__head`内に配置します。
 * `.t-content__head`によって最後の要素の下方向の余白がなくなります。
 * e.g.
  article.t-content
    header.t-content__head
      h1.t-content__title
    .t-content__body
 */
.t-content__title {
  margin-bottom: 1.6rem;

  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * `h2`のラップ要素（1つ目の`section`）として下方向に余白を指定します。
 * `.t-content__body`によって最後の要素の下方向の余白がなくなります。
 * e.g.
  article.t-content
    header.t-content__head
    .t-content__body
      section.t-content__firstSection
        h2
      section.t-content__firstSection
        h2
 */
.t-content__firstSection {
  margin-bottom: 3.2rem;

  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * `h2`の下に余白を指定します。
 * e.g.
  article.t-content
    header.t-content__head
    .t-content__body
      section.t-content__firstSection
        h2.t-content__heading2
 */
.t-content__heading2 {
  margin-bottom: 1.6rem;

  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * `h3`のラップ要素（2つ目の`section`）として下方向に余白を指定します。
 * `.t-content__firstSection`によって最後の要素の下方向の余白がなくなります。
 * e.g.
  .t-content__body
    section.t-content__firstSection
      h2.t-content__heading2
      section.t-content__secondSection
        h3
    section.t-content__firstSection
      h2.t-content__heading2
      section.t-content__secondSection
        h3
 */
.t-content__secondSection {
  margin-bottom: 1.6rem;

  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * `h3`の下に余白を指定します。
 * e.g.
  .t-content__body
    section.t-content__firstSection
      h2.t-content__heading2
      section.t-content__secondSection
        h3.t-content__heading3
    section.t-content__firstSection
      h2.t-content__heading2
      section.t-content__secondSection
        h3.t-content__heading3
 */
.t-content__heading3 {
  margin-bottom: 0.8rem;

  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * `.t-content__secondSection`同士の間に区切り記号を表示して通常より大きめに余白をとります。
 * `.t-content__firstSection`のModifierとして指定します。
 * e.g.
  .t-content__body
    section.t-content__firstSection.t-content__firstSection--divider
      h2.t-content__heading2
      section.t-content__secondSection
      section.t-content__secondSection
 */
.t-content__firstSection--divider > .t-content__secondSection:not(:last-of-type):after {
  content: "";
  display: block;
  width: 100%;
  margin: 1.6rem auto;
  border-top: 1px solid #e5e5e5;
}

/**
 * テキストレベルのコンポーネントのベースになる余白を指定します。
 */
.t-content__text {
  margin-bottom: 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

/**
 * テキストレベルのコンポーネントの少し狭い余白を指定します。
 */
.t-content__textSmall {
  margin-bottom: 0.6rem;

  &:last-child {
    margin-bottom: 0;
  }
}
