 /* #grid
   -------------------------------------------------------------------------- */
/**
 * 汎用的なグリッドオブジェクトです。
 */
/*
---
name: grid
category: Templates
tag: Grid
---

グリッドシステムです。カラムごとに任意の値を指定したい場合に使います。
カラムの指定はutility/_col.cssのスタイルを使います。

以下のような指定ができます。

- `.u-col-8of12` カラム数の指定。
- `.t-grid--medium` ガターの指定。
- `.t-grid--reverse` カラムの反転。
- `.t-grid--center` カラムのセンタリング。
- `.t-grid--right` カラムの右寄せ。

```jade
.t-grid.t-grid--medium(style="margin-bottom:4rem;")
  .t-grid__item.u-col-8of12-md
    p 8カラム
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item.u-col-4of12-md
    p 4カラム
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")

.t-grid.t-grid--medium.t-grid--reverse-md(style="margin-bottom:4rem;")
  .t-grid__item.u-col-8of12-md
    p 8カラム
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item.u-col-4of12-md
    p 4カラム
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")

.t-grid.t-grid--medium.t-grid--center-md
  .t-grid__item.u-col-8of12-md
    p 8カラム
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")

.t-grid.t-grid--medium.t-grid--right-md
  .t-grid__item.u-col-8of12-md
    p 8カラム
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
```
*/
.t-grid {
  @apply --listUnstyled;
  display: block;
  font-size: 0;
}

.t-grid__item {
  display: inline-block;
  width: 100%;
  font-size: medium;
  font-size: 1rem;
  vertical-align: top;
}

/**
 * ガターの指定。
 */
.t-grid--medium {
  margin-left: -2rem;

  & > .t-grid__item {
    padding-left: 2rem;
  }
}

/**
 * 要素の垂直位置を真ん中寄せ。
 */
.t-grid--middle > .t-grid__item {
  verticat-align: middle;
}

/**
 * 要素の垂直位置を下寄せ。
 */
.t-grid--bottom > .t-grid__item {
  verticat-align: bottom;
}

/**
 * 要素を中央寄せ、要素内は左寄せ。
 */
.t-grid--center {
  text-align: center;

  & > .t-grid__item {
    text-align: left;
  }
}
@media (--md-up) {
  .t-grid--center-md {
    text-align: center;

    & > .t-grid__item {
      text-align: left;
    }
  }
}
@media (--lg-up) {
  .t-grid--center-lg {
    text-align: center;

    & > .t-grid__item {
      text-align: left;
    }
  }
}

/**
 * 要素を右寄せ、要素内は左寄せ。
 */
.t-grid--right {
  text-align: right;

  & > .t-grid__item {
    text-align: left;
  }
}
@media (--md-up) {
  .t-grid--right-md {
    text-align: right;

    & > .t-grid__item {
      text-align: left;
    }
  }
}
@media (--lg-up) {
  .t-grid--right-lg {
    text-align: right;

    & > .t-grid__item {
      text-align: left;
    }
  }
}

/**
 * 要素の反転。
 */
.t-grid--reverse {
  text-align: left;
  direction: rtl;

  & > .t-grid__item {
    text-align: left;
    direction: ltr;
  }
}
@media (--md-up) {
  .t-grid--reverse-md {
    text-align: left;
    direction: rtl;

    & > .t-grid__item {
      text-align: left;
      direction: ltr;
    }
  }
}
@media (--lg-up) {
  .t-grid--reverse-lg {
    text-align: left;
    direction: rtl;

    & > .t-grid__item {
      text-align: left;
      direction: ltr;
    }
  }
}

/*
---
name: grid--col
category: Templates
tag: Grid
---

グリッドシステムです。1/2や1/3のような均等なカラムを指定できます。
カラム間の余白は`var(--t-grid--margin-top)`で統一しています。

以下のような指定ができます。

- 1/2から1/4までの均等なカラム指定。
- ブレイクポイントなしから、`-md`、`-lg`での指定。

```jade
.t-grid.t-grid--medium.t-grid--col3(style="margin-bottom:4rem;")
  .t-grid__item
    p 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item
    p 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item
    p 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item
    p 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item
    p 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item
    p 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")

.t-grid.t-grid--medium.t-grid--col2-md.t-grid--col3-lg(style="margin-bottom:4rem;")
  .t-grid__item
    p 1/1 → 1/2 → 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item
    p 1/1 → 1/2 → 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item
    p 1/1 → 1/2 → 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item
    p 1/1 → 1/2 → 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item
    p 1/1 → 1/2 → 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
  .t-grid__item
    p 1/1 → 1/2 → 1/3
    img.u-image--full(src="https://placehold.jp/600x400.png" alt="")
```
*/
:root {
  --t-grid--margin-top: 1.6rem;
}

[class*="t-grid--col"] > .t-grid__item >:last-child {
  margin-bottom: 0;
}

/**
 * 2カラムレイアウト。
 */
.t-grid--col2 > .t-grid__item {
  width: calc((6 / 12) * 100%);

  &:nth-of-type(n+3) {
    margin-top: var(--t-grid--margin-top);
  }
}
.t-grid--col2-md > .t-grid__item,
.t-grid--col2-lg > .t-grid__item {
  margin-top: var(--t-grid--margin-top);

  &:first-of-type {
    margin-top: 0;
  }
}
@media (--md-up) {
  .t-grid--col2-md > .t-grid__item {
    width: calc((6 / 12) * 100%);

    &:nth-of-type(n+3) {
      margin-top: var(--t-grid--margin-top);
    }

    &:nth-of-type(2) {
      margin-top: 0;
    }
  }
}
@media (--lg-up) {
  .t-grid--col2-lg > .t-grid__item {
    width: calc((6 / 12) * 100%);

    &:nth-of-type(n+3) {
      margin-top: var(--t-grid--margin-top);
    }

    &:nth-of-type(2) {
      margin-top: 0;
    }
  }
}

/**
 * 3カラムレイアウト。
 */
.t-grid--col3 > .t-grid__item {
  width: calc((4 / 12) * 100%);

  &:nth-of-type(n+4) {
    margin-top: var(--t-grid--margin-top);
  }
}
.t-grid--col3-md > .t-grid__item,
.t-grid--col3-lg > .t-grid__item {
  margin-top: var(--t-grid--margin-top);

  &:first-of-type {
    margin-top: 0;
  }
}
@media (--md-up) {
  .t-grid--col3-md > .t-grid__item {
    width: calc((4 / 12) * 100%);

    &:nth-of-type(n+4) {
      margin-top: var(--t-grid--margin-top);
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      margin-top: 0;
    }
  }
}
@media (--lg-up) {
  .t-grid--col3-lg > .t-grid__item {
    width: calc((4 / 12) * 100%);

    &:nth-of-type(n+4) {
      margin-top: var(--t-grid--margin-top);
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      margin-top: 0;
    }
  }
}

/**
 * 4カラムレイアウト。
 */
.t-grid--col4 > .t-grid__item {
  width: calc((3 / 12) * 100%);

  &:nth-of-type(n+5) {
    margin-top: var(--t-grid--margin-top);
  }
}
.t-grid--col3.t-grid--col4-md > .t-grid__item,
.t-grid--col3.t-grid--col4-lg > .t-grid__item {
  &:nth-of-type(3) {
    margin-top: 0;
  }
}
@media (--md-up) {
  .t-grid--col4-md > .t-grid__item {
    width: calc((3 / 12) * 100%);

    &:nth-of-type(n+5) {
      margin-top: var(--t-grid--margin-top);
    }

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 0;
    }
  }
}
@media (--lg-up) {
  .t-grid--col4-lg > .t-grid__item {
    width: calc((3 / 12) * 100%);

    &:nth-of-type(n+5) {
      margin-top: var(--t-grid--margin-top);
    }

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 0;
    }
  }
}
