 /* #header
   -------------------------------------------------------------------------- */
/**
 * グローバルヘッダーのレイアウトを指定します。
 * `.t-content`との下側の余白を指定します。
 * Elementでグローバルヘッダー内のレイアウトを指定します。
 */
.t-header {
  display: block;
  width: 100%;

  & > :last-child {
    margin-bottom: 0;
  }
}

.t-header__logo {

}

.t-header__globalNav {

}

.t-header__breadcrumb {

}
