 /* #sidebar
   -------------------------------------------------------------------------- */
/**
 * サイドバーです。
 * `.t-wrapper__2culumn`を使用することで2カラムレイアウトにすることもできます。
 * e.g.
 * .t-wrapper
 *   .t-wrapper__inner
 *     .t-wrapper__2culumn
 *       main.t-wrapper__content
 *       aside.t-wrapper__sidebar
 *         .t-sidebar
 */
.t-sidebar {
  & > :last-child {
    margin-bottom: 0;
  }
}

.t-sidebar__nav {
  & > :last-child {
    margin-bottom: 0;
  }
}

.t-sidebar__banner {
  & > :last-child {
    margin-bottom: 0;
  }
}

.t-sidebar__links {
  & > :last-child {
    margin-bottom: 0;
  }
}
