 /* #wrapper
   -------------------------------------------------------------------------- */
/**
 * メインコンテンツ、もしくはメインコンテンツとサイドバーをラップします。
 * `.t-wrapper__1culumn`で1カラムレイアウト、
 * `.t-wrapper__2culumn`で2カラムレイアウトにすることができます。
 */
.t-wrapper {
  display: block;
  width: 100%;
}

/**
 * グローバルヘッダーエリアです。
 * e.g.
 * .t-wrapper
 *   header.t-wrapper__header
 *     .t-header
 *   .t-wrapper__inner
 */
.t-wrapper__header {
  margin-bottom: 3.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * パンくずリストのレイアウトを指定します。
 * e.g.
 * .t-wrapper
 *   header.t-wrapper__header
 *   .t-wrapper__breadcrumb
 *     .t-wrapper__breadcrumbInner
 *       ol.p-breadcrumb
 *         li.p-breadcrumb__item
 *           a.p-breadcrumb__link(href="#")
 */
.t-wrapper__breadcrumb {
  margin-bottom: 3.2rem;
  padding: 0 1rem 0;
}

.t-wrapper__breadcrumInner {
  display: block;
  width: 100%;
  max-width: calc(var(--max-width) - 16 * 2px);
  max-width: calc(var(--max-width) - 2rem);
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 0;
}

/**
 * メインコンテンツの最大幅を指定します。
 * e.g.
 * .t-wrapper
 *   header.t-wrapper__header
 *   .t-wrapper__inner
 *     .t-wrapper__2culumn
 */
.t-wrapper__inner {
  display: block;
  width: 100%;
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
}

/**
 * メインコンテンツを1カラムレイアウトにしたいときに指定します。
 * e.g.
 * .t-wrapper__inner
 *   .t-wrapper__1culumn
 *     main.t-wrapper__content
 */
.t-wrapper__1culumn {
  width: 100%;
}

/**
 * メインコンテンツとサイドバーを2カラムレイアウトにしたいときに指定します。
 * e.g.
 * .t-wrapper__inner
 *   .t-wrapper__2culumn
 *     main.t-wrapper__content
 *     aside.t-wrapper__sidebar
 */
.t-wrapper__2culumn {
  display: block;
  margin-left: -2rem;
  font-size: 0;
  @apply --listUnstyled;
}

.t-wrapper__2culumn > .t-wrapper__content,
.t-wrapper__2culumn > .t-wrapper__sidebar {
  display: inline-block;
  width: 100%;
  padding-left: 2rem;
  font-size: medium;
  font-size: 1rem;
  verticat-align: top;
}

@media (--default) {
  .t-wrapper__2culumn > .t-wrapper__content {
    width: calc((8 / 12) * 100%);
  }
  .t-wrapper__2culumn > .t-wrapper__sidebar {
    width: calc((4 / 12) * 100%);
  }
}
