@custom-selector :--onEvent :hover, :active, :focus;

:root {
  --clearfix: {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  --listUnstyled: {
    padding-left: 0;
    list-style-type: none;
  }
}
