 /* #flag
   -------------------------------------------------------------------------- */
.c-flag {
  display: table;
  width: 100%;
}

.c-flag__image,
.c-flag__body {
  display: table-cell;
  vertical-align: top;

  & > :last-child {
    margin-bottom: 0;
  }
}

.c-flag__image {
  width: 1px;
  padding-right: 1rem;
}

.c-flag__image > img {
  max-width: none;
}

.c-flag__body {
  width: auto;
}

.c-flag--middle > .c-flag__image,
.c-flag--middle > .c-flag__body {
  vertical-align: middle;
}

.c-flag--bottom > .c-flag__image,
.c-flag--bottom > .c-flag__body {
  vertical-align: bottom;
}

.c-flag--reverse {
  text-align: left;
  direction: rtl;

  & > .c-flag__image,
  & > .c-flag__body {
    text-align: left;
    direction: ltr;
  }

  & > .c-flag__image {
    padding-right: 0;
    padding-left: 1rem;
  }
}

@media (--md-up) {
  .c-flag--reverse-md {
    text-align: left;
    direction: rtl;

    & > .c-flag__image,
    & > .c-flag__body {
      text-align: left;
      direction: ltr;
    }

    & > .c-flag__image {
      padding-right: 0;
      padding-left: 1rem;
    }
  }
}

@media (--lg-up) {
  .c-flag--reverse-lg {
    text-align: left;
    direction: rtl;

    & > .c-flag__image,
    & > .c-flag__body {
      text-align: left;
      direction: ltr;
    }

    & > .c-flag__image {
      padding-right: 0;
      padding-left: 1rem;
    }
  }
}
