 /* #listInline
   -------------------------------------------------------------------------- */
.c-listInline {
  display: block;
  font-size: 0;
  @apply --listUnstyled;
}

.c-listInline__item {
  display: inline-block;
  font-size: medium;
  font-size: 1rem;
  vertical-align: top;
}

.c-listInline--medium > .c-listInline__item:not(:last-child) {
  margin-right: 1em;
}
