 /* #media
   -------------------------------------------------------------------------- */
.c-media {
  display: block;
  @apply --clearfix;
}

.c-media__image {
  float: left;
  margin-right: 1rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

.c-media__image > img {
  display: block;
}

.c-media__body {
  display: block;
  overflow: hidden;
  & > :last-child {
    margin-bottom: 0;
  }
}

.c-media--reverse > .c-media__image {
  float: right;
  margin-right: 0;
  margin-left: 1rem;
}

@media (--md-up) {
  .c-media--reverse-md > .c-media__image {
    float: right;
    margin-right: 0;
    margin-left: 1rem;
  }
}

@media (--lg-up) {
  .c-media--reverse-lg > .c-media__image {
    float: right;
    margin-right: 0;
    margin-left: 1rem;
  }
}
