@charset "UTF-8";

/**
 * SETTING
 * setting...Custom Propertiesを使ったグローバル変数です。
 *
 * TOOL
 * tool...Custom SelectorsやCustom Media Queries、@apply Ruleを使った汎用的なルールです。
 *
 * BASE
 * normalize...Normalize.cssをインポートしています。
 * base...タイプセレクタと属性セレクタのデフォルトスタイルです。
 *
 * COMPONENT
 * icon...アイコンフォントです。テンプレートから自動で生成されます。
 * iconExtend...アイコンにスタイルを追加します。
 * label...インラインで表示するラベルオブジェクトです。
 * button...ボタンオブジェクトです。
 * embed...Youtubeなどをレスポンシブ対応させます。
 * list...リストアイテムの左に役物などを表示します。
 * title...`<h1>`で使われる見出しのスタイルです。
 * heading2...`<h2>`で使われるような見出しのスタイルです。
 * heading3...`<h3>`で使われるような見出しのスタイルです。
 * lead...視覚的に目立たせるときに使うスタイルです。
 * delimiter...`<hr>`のような区切り記号（デリミタ）です。
 *
 * PROJECT
 * listInline...ボタンやラベル、テキストリンクなどを横並びにします。
 * listMark...リストアイテムの左にアイコンを配置します。
 * breadcrumb...パンくずリストオブジェクトです。
 * figure...キャプションをつけた画像オブジェクトです。
 * ratio...アスペクト比を固定したまま伸縮させます。
 * block...画像とテキストを縦に配置します。
 * table...`<table>`のベースとなるスタイルです。
 * media...画像とテキストが横並びになるオブジェクトです。
 * flag...画像とテキストが横並びになるオブジェクトです。垂直方向の指定ができます。
 *
 * LAYOUT
 * grid...汎用的なグリッドオブジェクトです。`width`の変更はUtilityレイヤーで指定します。
 * header...グローバルヘッダーのレイアウトを指定します。
 * content...コンテンツエリアのレイアウトを指定します。
 * sidebar...サイドバーエリアのレイアウトを指定します。
 * footer...グローバルフッターのレイアウトを指定します。
 * wrapper...最大幅と2カラムレイアウトの指定をします。
 *
 * SCOPE
 * blog...ブログエリアのスタイルです。
 *
 * UTILITY
 * align...画像などを左右や中央に配置します。
 * text...テキストのスタイルに関するスタイルです。
 * display...要素の表示や改行をコントロールするスタイルです。
 * col...レスポンシブに対応した`width`プロパティを指定します。
 */

/* =============================================================================
   #Setting
   ========================================================================== */
/**
 * SettingレイヤーではCustom Propertiesを使ったグローバル変数を定義します。
 * Sassでは`$`変数で定義します。
 * 例えば、サイトのmax-widthやフォントのサイズ、余白や色に関するものです。
 * Custom Propertiesもカスケーディングの対象となるため、定数のように扱います。
 * 非対応ブラウザがある場合、変数はコード内に変換され、コメントのみが残ります。
 */
@import "setting/_setting.css";

/* =============================================================================
   #Tool
   ========================================================================== */
/**
 * ToolレイヤーではCustom SelectorsやCustom Media Queries、@apply Ruleを使った汎用的なルールを定義します。
 * Sassでは@functionや@mixinで定義します。
 * 非対応ブラウザがある場合、ルールはコード内に変換され、コメントのみが残ります。
 */
@import "tool/_tool.css";

/* =============================================================================
   #Base
   ========================================================================== */
/**
 * Baseレイヤーでは要素セレクタや属性セレクタのようなオブジェクトのベースとなるスタイルを定義します。
 * Normalize.cssもこのレイヤーに含まれます。
 * 詳細度はクラスセレクタと同じ0,0,1,0以下になるように極力低くします。
 * メディアクエリや擬似クラスのような、ある状況や状態に対するスタイルは極力持つべきではありません。
 * オブジェクト間の余白を管理しやすくするために、上下方向の`margin`は`0`にリセットしておくのを推奨します。
 * ただし、過度なリセットは禁止します。
 * 継承を利用するために、ルート要素の`font-size`はパーセンテージで指定（`62.5%`の指定は禁止）、
 * その他の要素やオブジェクトのサイズは`rem`と`em`で指定します。
 */
@import "../../../node_modules/normalize.css/normalize.css";
@import "base/_base.css";

/* =============================================================================
   #Component
   ========================================================================== */
/**
 * Componentレイヤーは装飾的なスタイルを持つことができる、再利用可能で小さなオブジェクトを定義します。
 * 目安としては、見出しやリスト、ボタンやラベルのような他のオブジェクトを内包できない小さなオブジェクトです。
 * 後述するProjectオブジェクトのサイズ変更を継承できるように
 * サイズ（`font-size`, `margin`, `padding`など）は`em`で指定します。
 * プレフィックス（接頭辞）として`.c-`をつけます。
 */
@import "component/_icon.css";
@import "component/_iconExtend.css";
@import "component/_label.css";
@import "component/_button.css";
@import "component/_embed.css";
@import "component/_list.css";
@import "component/_title.css";
@import "component/_heading2.css";
@import "component/_heading3.css";
@import "component/_lead.css";
@import "component/_delimiter.css";


/* =============================================================================
   #Project
   ========================================================================== */
/**
 * ProjectレイヤーはComponentオブジェクトを内包・上書きできる比較的大きなオブジェクトを定義します。
 * Projectレイヤー同士での依存関係がうまれることもあります。
 * 内包されるオブジェクトは内包するオブジェクトよりも先に読み込むことで期待通りに適応されるようにしておきます。
 * Projectオブジェクトがユーザーインターフェイスの見た目と構造を確定するので、
 * 自分自身と内包するオブジェクトに対して具体的な情報を持つべきです。
 * ただし、役割がより明確になり詳細度を低く保てるように、内包するオブジェクトに直接指定するのではなく、
 * 自身のElementに対して指定することを推奨します。
 * Projectオブジェクトは常にルートを基準にサイズを決めるため、`rem`を基本単位とします。
 * ただし、オブジェクトのBlockにフォントサイズを指定すると範囲が大きくなり過ぎるので、
 * Blockは`1rem`を基本として、ElementやModifierでフォントサイズの変更をすることを推奨します。
 * オブジェクト内の余白をフォントサイズを基準に指定したい場合は`em`で指定してもいいでしょう。
 * 基本的にはProjectオブジェクト自身の配置を指定することはできませんが、
 * JavaScriptで動的に表示や配置の変更がされるUIの場合は許容されます。
 * プレフィックス（接頭辞）として`.p-`をつけます。
 */
@import "project/_listInline.css";
@import "project/_listMark.css";
@import "project/_breadcrumb.css";
@import "project/_figure.css";
@import "project/_ratio.css";
@import "project/_block.css";
@import "project/_table.css";
@import "project/_media.css";
@import "project/_flag.css";

/* =============================================================================
   #Layout
   ========================================================================== */
/**
 * Layoutレイヤーはワイヤーフレームに出てくるような大枠のレイアウトやオブジェクトのレイアウトを定義します。
 * Layoutオブジェクトによってページ内のレイアウトが確定します。
 * グリッドのようなレイアウト専用のオブジェクトもこのレイヤーに含みます。
 * 内包するオブジェクトを上書きすることもできません。
 * Layoutオブジェクトはレイアウトに特化したオブジェクトです。
 * ただし、背景色のようにレイアウトによって影響範囲が変わるものは、
 * 最小限であればLayoutオブジェクトに含めることも許容します。
 * 内包するオブジェクトのレイアウトは自身のElementで指定します。
 * 内包するオブジェクトと同じ要素に指定することを避けて、オブジェクト同士が干渉しないようにします。
 * Layoutオブジェクトは常にルートを基準にサイズを決めるため、`rem`を基本単位とします。
 * プレフィックス（接頭辞）として`.l-`をつけます。
 */
@import "layout/_grid.css";
@import "layout/_header.css";
@import "layout/_content.css";
@import "layout/_sidebar.css";
@import "layout/_footer.css";
@import "layout/_wrapper.css";

/* =============================================================================
   #Scope
   ========================================================================== */
/**
 * Scopeレイヤーは特定の範囲でのスタイルを定義します。
 * オブジェクト単位ではなく、任意の範囲（スコープ）に対するスタイルを指定します。
 * 例えばブログやフッター内であったり、ページやカテゴリなどです。
 * 内包するオブジェクトにも装飾的なスタイルや配置に関する指定をすることもできる影響範囲の大きなレイヤーです。
 * 影響範囲ができるだけ狭くなるように適応する範囲や要素を限定しなければいけません。
 * 例えば`.s-scope .c-button`ではなく、`.s-scope__button`と`.c-button`のマルチクラスで指定します。
 * プレフィックス（接頭辞）として`.s-`をつけます。
 */
@import "scope/_blog.css";

/* =============================================================================
   #Utility
   ========================================================================== */
/**
 * Utilityレイヤーは汎用クラスを定義します。
 * シングルクラスでも確実にスタイルを適応させるために`!important`を指定することを推奨します。
 * オブジェクトがUtilityオブジェクトで成り立ってしまうことはできるだけ避けます。
 * Utilityオブジェクトは他のレイヤーが持つよりも汎用的に使えたり、コードが冗長になってしまう場合に使います。
 * pxのような絶対値ではなく、remや%のような相対値を指定することを推奨します。
 * プレフィックス（接頭辞）として`.u-`をつけます。
 */
@import "utility/_align.css";
@import "utility/_text.css";
@import "utility/_display.css";
@import "utility/_col.css";
