@charset "UTF-8";

/**
 * SETTING
 * setting...Custom Propertiesを使ったグローバル変数です。
 *
 * TOOL
 * tool...Custom SelectorsやCustom Media Queries、@apply Ruleを使った汎用的なルールです。
 *
 * BASE
 * normalize...Normalize.cssをインポートしています。
 * base...タイプセレクタと属性セレクタのデフォルトスタイルです。
 *
 * PARTS
 * icon...アイコンフォントです。テンプレートから自動で生成されます。
 * iconExtend...アイコンにスタイルを追加します。
 * label...インラインで表示するラベルコンポーネントです。
 * button...ボタンコンポーネントです。
 * embed...Youtubeなどをレスポンシブ対応させます。
 * list...リストアイテムの左に役物などを表示します。
 * headingH2...`<h2>`で使われるような見出しのスタイルです。
 * headingH3...`<h3>`で使われるような見出しのスタイルです。
 *
 * CONTAINER
 * listInline...ボタンやラベル、テキストリンクなどを横並びにします。
 * listMark...リストアイテムの左にアイコンを配置します。
 * breadcrumb...パンくずリストコンポーネントです。
 * figure...キャプションをつけた画像コンポーネントです。
 * ratio...アスペクト比を固定したまま伸縮させます。
 * block...画像とテキストを縦に配置します。
 * table...`<table>`のベースとなるスタイルです。
 * media...画像とテキストが横並びになるオブジェクトです。
 * flag...画像とテキストが横並びになるオブジェクトです。垂直方向の指定ができます。
 *
 * LAYOUT
 * grid...汎用的なグリッドコンポーネントです。`width`の変更はUtilityレイヤーで指定します。
 * header...グローバルヘッダーのレイアウトを指定します。
 * content...コンテンツエリアのレイアウトを指定します。
 * sidebar...サイドバーエリアのレイアウトを指定します。
 * footer...グローバルフッターのレイアウトを指定します。
 * wrapper...最大幅と2カラムレイアウトの指定をします。
 *
 * SCOPE
 * blog...ブログエリアのスタイルです。
 *
 * UTILITY
 * align...画像などを左右や中央に配置します。
 * text...テキストのスタイルに関するスタイルです。
 * display...要素の表示や改行をコントロールするスタイルです。
 * col...レスポンシブに対応した`width`プロパティを指定します。
 */

/* =============================================================================
   #Setting
   ========================================================================== */
/**
 * SettingレイヤーではCustom Propertiesを使ったグローバル変数を定義します。
 * Sassでは`$`変数で定義します。
 * 例えば、サイトのmax-widthやフォントのサイズ、余白や色に関するものです。
 * Custom Propertiesもカスケーディングの対象となるため、定数のように扱います。
 * 非対応ブラウザがある場合、変数はコード内に変換され、コメントのみが残ります。
 */
@import "setting/_setting.css";

/* =============================================================================
   #Tool
   ========================================================================== */
/**
 * ToolレイヤーではCustom SelectorsやCustom Media Queries、@apply Ruleを使った汎用的なルールを定義します。
 * Sassでは@functionや@mixinで定義します。
 * 非対応ブラウザがある場合、ルールはコード内に変換され、コメントのみが残ります。
 */
@import "tool/_tool.css";

/* =============================================================================
   #Base
   ========================================================================== */
/**
 * BaseレイヤーではNormalize.cssやリセットCSS、
 * 要素セレクタや属性セレクタのようなコンポーネントのベースとなるスタイルを定義します
 * 詳細度はクラスセレクタと同じ0,0,1,0以下になるように極力低くします。
 * メディアクエリや擬似クラスのような、ある状況やある状態に対するスタイルは極力持つべきではありません。
 * 自分自身の構造を持つことはできますが、装飾と配置、コンポーネントを内包することはできません。
 * コンポーネント間の余白を管理しやすくするために、上下方向の`margin`は`0`にリセットしておくのを推奨します。
 * リセットをするよりも継承を利用するために、
 * ルート要素の`font-size`はパーセンテージで指定、その他の要素やコンポーネントのサイズは`rem`と`em`で指定します。
 */
@import "../../../node_modules/normalize.css/normalize.css";
@import "base/_base.css";

/* =============================================================================
   #Parts
   ========================================================================== */
/**
 * Partsレイヤーは装飾的なスタイルを持つことができる、再利用可能で小さなコンポーネントを定義します。
 * 目安としては、見出しやリスト、ボタンやラベルのような他のコンポーネントを内包できない小さなコンポーネントです。
 * 内包されるコンポーネントなので配置に関する情報を持つことはできません。
 * 後述するContainerコンポーネントのサイズ変更を継承できるように
 * サイズ（`font-size`, `margin`, `padding`）などは`em`で指定します。
 * プレフィックス（接頭辞）として`.p-`をつけます。
 */
@import "parts/_icon.css";
@import "parts/_iconExtend.css";
@import "parts/_label.css";
@import "parts/_button.css";
@import "parts/_embed.css";
@import "parts/_list.css";
@import "parts/_headingH2.css";
@import "parts/_headingH3.css";

/* =============================================================================
   #Container
   ========================================================================== */
/**
 * ContainerレイヤーはPartsレイヤーを内包できる比較的大きなコンポーネントを定義します。
 * Containerコンポーネントがユーザーインターフェイスの見た目と構造を確定するので、
 * 自分自身と内包するコンポーネントに対して具体的な情報を持つべきです。
 * ただし、役割がより明確になり詳細度を低く保てるように、内包するコンポーネントに直接指定するのではなく、
 * 自身のElementに対して指定することを推奨します。
 * Containerコンポーネントは常にルートを基準にサイズを決めるため、`rem`を基本単位とします。
 * ただし、コンポーネントのBlockにフォントサイズを指定すると範囲が大きくなり過ぎるので、
 * Blockは`1rem`を基本として、ElementやModifierでフォントサイズの変更をすることを推奨します。
 * コンポーネント内の余白をフォントサイズを基準に指定したい場合は`em`で指定してもいいでしょう。
 * 基本的にはContainerコンポーネント自身の配置を指定することはできませんが、
 * JavaScriptで動的に表示や配置の変更がされるUIの場合は許容されます。
 * プレフィックス（接頭辞）として`.c-`をつけます。
 */
@import "container/_listInline.css";
@import "container/_listMark.css";
@import "container/_breadcrumb.css";
@import "container/_figure.css";
@import "container/_ratio.css";
@import "container/_block.css";
@import "container/_table.css";
@import "container/_media.css";
@import "container/_flag.css";

/* =============================================================================
   #Layout
   ========================================================================== */
/**
 * Layoutレイヤーはワイヤーフレームに出てくるような大枠のレイアウトを担当するコンポーネントを定義します。
 * Layoutコンポーネントによってページ内のレイアウトが確定します。
 * グリッドのようなレイアウト専用のコンポーネントもこのレイヤーに含みます。
 * 内包するモジュールを上書きすることもできません。
 * Layoutコンポーネントはレイアウトに特化したコンポーネントです。
 * ただし、背景色のようにレイアウトによって影響範囲が変わるものは、
 * 最小限であればLayoutコンポーネントに含めることも許容します。
 * 内包するコンポーネントのレイアウトは自身のElementで指定します。
 * 内包するコンポーネントと同じ要素に指定することを避けて、コンポーネント同士が干渉しないようにします。
 * Layoutコンポーネントは常にルートを基準にサイズを決めるため、`rem`を基本単位とします。
 * プレフィックス（接頭辞）として`.l-`をつけます。
 */
@import "layout/_grid.css";
@import "layout/_header.css";
@import "layout/_content.css";
@import "layout/_sidebar.css";
@import "layout/_footer.css";
@import "layout/_wrapper.css";

/* =============================================================================
   #Scope
   ========================================================================== */
/**
 * Scopeレイヤーはカテゴリやブログのような特定の範囲でのスタイルを定義します。
 * コンポーネント単位ではなく、任意の範囲（スコープ）に対するスタイルを指定します。
 * Scopeレイヤー自身も内包するコンポーネントにも装飾的なスタイルや配置に関する指定をすることもできる、
 * 影響範囲の大きなレイヤーです。
 * 影響範囲ができるだけ小さくなるように適応する範囲や要素を限定しなければいけません。
 * 例えば`.s-scope .p-button`ではなく、`.s-scope__button`と`.p-button`のマルチクラスで指定します。
 * プレフィックス（接頭辞）として`.s-`をつけます。
 */
@import "scope/_blog.css";

/* =============================================================================
   #Utility
   ========================================================================== */
/**
 * Utilityレイヤーは汎用クラスを定義します。
 * シングルクラスでも確実にスタイルを適応させるために`!important`を指定することを推奨します。
 * コンポーネントがUtilityコンポーネントで成り立ってしまうことはできるだけできるだけ避けます。
 * 基本的にコンポーネントは自分自身で役割を果たせるように考えるべきです。
 * Utilityコンポーネントは他のレイヤーが持つよりも汎用的に使えたり、コードが冗長になってしまう場合に使います。
 * pxのような絶対値ではなく、remや%のような相対値を指定することを推奨します。
 * プレフィックス（接頭辞）として`.u-`をつけます。
 */
@import "utility/_align.css";
@import "utility/_text.css";
@import "utility/_display.css";
@import "utility/_col.css";
