 /* #content
   -------------------------------------------------------------------------- */
/**
 * メインコンテンツです。
 * `.l-footer`との下側の余白を指定します。
 * Elementでメインコンテンツ内のレイアウトを指定します。
 * `.l-wrapper__2culumn`を使用することで2カラムレイアウトにすることもできます。
 */
.l-content {
  margin-bottom: 3.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツのコンテンツヘッダーです。
 * `.l-content__body`に対して下側の余白を指定します。
 */
.l-content__head {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツの本文です。
 */
.l-content__body {
  padding: 2rem 1rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツのコンテンツフッターです。
 * `.l-content__body`に対して上側の余白を指定します。
 */
.l-content__foot {
  margin-top: 3.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * ページタイトルです。
 */
.l-content__title {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * TLDR: `h2`の上に大きく余白をあけたいときに使う。
 * `h2`のラップ要素（1つ目の`section`）として上方向に余白をつけます。
 * e.g.
 * <h1>
 *   <section class="l-content__firstSection">
 *     <h2></h2>
 *   </section>
 * </h1>
 */
.l-content__firstSection {
  margin-top: 3.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * TLDR: `h2`の下に余白がないときに使う。
 * `h2`に直接下方向の余白を指定したいときに使います。
 * `h2`直後に`section`をともなう`h3`を置かない場合に使います。
 * e.g.
 * <h1>
 *   <div class="l-content__firstSection">
 *     <div class="l-grid">
 *       <section class="l-grid__item">
 *         <h2 class="l-content__heading2"></h2>
 *         <p></p>
 *       </section>
 *       <section class="l-grid__item">
 *         <h2 class="l-content__heading2"></h2>
 *         <p></p>
 *       </section>
 *     </div>
 *   </div>
 * </h1>
 */
.l-content__heading2 {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * TLDR: `h3`の上に大きく余白をあけたいときに使う。
 * `h3`のラップ要素（2つ目の`section`）として上方向に余白をつけます。
 * e.g.
 * <h1>
 *   <section>
 *     <h2></h2>
 *     <section class="l-content__secondSection">
 *       <h3></h3>
 *     </section>
 *   </section>
 * </h1>
 */
.l-content__secondSection {
  margin-top: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * TLDR: `h3`の下に余白がないときに使う。
 * h3に直接余白を指定したいときに使います。
 * `h3`直後に`l-content__secondSection`が置けない場合に使います。
 * e.g.
 * <h1>
 *   <section>
 *     <h2></h2>
 *     <section>
 *       <h3 class="l-content__heading3"></h3>
 *       <p></p>
 *     </section>
 *   </section>
 * </h1>

 * e.g. h1 section h2 div div h3←
 */
.l-content__heading3 {
  margin-bottom: 0.8rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * TLDR: セクションの間を罫線で区切りたいときに使う。
 * `.l-content__secondSection`同士の間に区切り記号（デリミタ）を表示して通常より大きめに余白をとります。
 * `.l-content__firstSection`のModifierとして指定します。
 */
.l-content__firstSection--delimiter >  .l-content__secondSection:not(:last-of-type):after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 1.6rem auto;
  background-color: #e5e5e5;
}

/* オブジェクトのベースになる余白です。 */
.l-content__item {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/* オブジェクトのベースより狭くなる余白です。 */
.l-content__smallItem {
  margin-bottom: 0.8rem;
  & > :last-child {
    margin-bottom: 0;
  }
}
