 /* #content
   -------------------------------------------------------------------------- */
/**
 * メインコンテンツです。
 * `.l-footer`との下側の余白を指定します。
 * Elementでメインコンテンツ内のレイアウトを指定します。
 * `.l-wrapper__2culumn`を使用することで2カラムレイアウトにすることもできます。
 * <div class="l-wrapper">
 *   <div class="l-wrapper__2culumn">
 *     <main class="l-wrapper__content">
 *       <article class="l-content"></article>
 *     </main>
 *     <aside class="l-wrapper__sidebar"></sidebar>
 *   </div>
 * <div>
 */
.l-content {
  margin-bottom: 3.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツのコンテンツヘッダーです。
 * `.l-content__body`に対して下側の余白を指定します。
 * <article class="l-content">
 *   <header class="l-content__head"></header>
 * </article>
 */
.l-content__head {
  margin-bottom: 3.2rem;
  padding: 0 1rem 0;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツの本文です。
 * <article class="l-content">
 *   <header class="l-content__head"></header>
 *   <div class="l-content__body"></div>
 * </article>
 */
.l-content__body {
  padding: 0 1rem 1rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツのコンテンツフッターです。
 * `.l-content__body`に対して上側の余白を指定します。
 * <article class="l-content">
 *   <header class="l-content__head"></header>
 *   <div class="l-content__body"></div>
 *   <footer class="l-content__foot"></footer>
 * </article>
 */
.l-content__foot {
  margin-top: 3.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * ページタイトルです。
 * `.l-content__head`内に配置します。
 * e.g.
 * <article class="l-content">
 *   <header class="l-content__head">
 *     <h1 class="l-content__title"><h1>
 *   </header>
 * </article>
 */
.l-content__title {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * `h2`のラップ要素（1つ目の`section`）として下方向に余白をつけます。
 * e.g.
 * <article class="l-content">
 *   <header class="l-content__head"></header>
 *   <div class="l-content__body">
 *     <section class="l-content__firstSection">
 *       <h2></h2>
 *     </section>
 *     <section class="l-content__firstSection">
 *       <h2></h2>
 *     </section>
 *   </div>
 * </article>
 */
.l-content__firstSection {
  margin-bottom: 3.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * `h2`の下に余白をつけます。
 * e.g.
 * <div class="l-content__body">
 *   <section class="l-content__firstSection">
 *     <h2 class="l-content__heading2"></h2>
 *   </section>
 * </div>
 */
.l-content__heading2 {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * `h3`のラップ要素（2つ目の`section`）として下方向に余白をつけます。
 * e.g.
 * <div class="l-content__body">
 *   <section class="l-content__firstSection">
 *     <h2 class="l-content__heading2"></h2>
 *     <section class="l-content__secondSection">
 *       <h3></h3>
 *     </section>
 *     <section class="l-content__secondSection">
 *       <h3></h3>
 *     </section>
 *   </section>
 * </div>
 */
.l-content__secondSection {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * `h2`の下に余白をつけます。
 * e.g.
 * <div class="l-content__body">
 *   <section class="l-content__firstSection">
 *     <h2 class="l-content__heading2"></h2>
 *     <section class="l-content__secondSection">
 *       <h3 class="l-content__heading3"></h3>
 *     </section>
 *     <section class="l-content__secondSection">
 *       <h3 class="l-content__heading3"></h3>
 *     </section>
 *   </section>
 * </div>
 */
.l-content__heading3 {
  margin-bottom: 0.8rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * `.l-content__secondSection`同士の間に区切り記号（デリミタ）を表示して通常より大きめに余白をとります。
 * `.l-content__firstSection`のModifierとして指定します。
 * e.g.
 * <div class="l-content__body">
 *   <section class="l-content__firstSection">
 *     <h2 class="l-content__heading2"></h2>
 *     <section class="l-content__secondSection">
 *       <h3 class="l-content__heading3"></h3>
 *     </section>
 *     <section class="l-content__secondSection">
 *       <h3 class="l-content__heading3"></h3>
 *     </section>
 *   </section>
 * </div>
 */
.l-content__firstSection--delimiter >  .l-content__secondSection:not(:last-of-type):after {
  content: "";
  display: block;
  width: 100%;
  margin: 1.6rem auto;
  border-top: 1px solid #e5e5e5;
}

/**
 * オブジェクトのベースになる余白を指定します。
 */
.l-content__item {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * オブジェクトのベースより小さい余白を指定します。
 */
.l-content__smallItem {
  margin-bottom: 1.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * テキストのベースになる余白を指定します。
 */
.l-content__text {
  margin-bottom: 1rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * テキストのベースより小さい余白を指定します。
 */
.l-content__smallText {
  margin-bottom: 0.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}
