 /* #content
   -------------------------------------------------------------------------- */
/**
 * メインコンテンツです。
 * `.l-footer`との下側の余白を指定します。
 * Elementでメインコンテンツ内のレイアウトを指定します。
 * `.l-wrapper__2culumn`を使用することで2カラムレイアウトにすることもできます。
 */
.l-content {
  margin-bottom: 3.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツのコンテンツヘッダーです。
 * `.l-content__body`に対して下側の余白を指定します。
 */
.l-content__head {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツの本文です。
 */
.l-content__body {
  padding: 2rem 1rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツのコンテンツフッターです。
 * `.l-content__body`に対して上側の余白を指定します。
 */
.l-content__foot {
  margin-top: 3.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * 1階層目の`section`に指定します。
 * e.g. h1 > section← > h2
 */
.l-content__firstSection {
  margin-top: 3.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * 2階層目の`section`に指定します。
 * e.g. h1 section h2 section← > h3
 * `.l-content__secondSection`以降にsectionをともなう見出しがない場合は`.l-content__heading2`をh2に指定します。
 */
.l-content__secondSection {
  margin-top: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * 3階層目の`section`に指定します。
 * e.g. h1 section h2 section h3 section← > h4
 * `.l-content__thirdSection`以降にsectionをともなう見出しがない場合は`.l-content__heading3`をh3に指定します。
 */
.l-content__thirdSection {
  margin-top: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * h2に直接余白を指定したいときに使います。
 * `.l-content__heading2`直下にsectionをともなう見出しがある場合は`.l-content__secondSection`を使います。
 */
.l-content__heading2 {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * h3に直接余白を指定したいときに使います。
 * `.l-content__heading3`直下にsectionをともなう見出しがある場合は`.l-content__thirdSection`を使います。
 */
.l-content__heading3 {
  margin-bottom: 0.8rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * ページタイトルです。
 */
.l-content__title {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/* オブジェクトのベースになる余白です。 */
.l-content__item {
  margin-bottom: 1.6rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/* オブジェクトのベースより狭くなる余白です。 */
.l-content__smallItem {
  margin-bottom: 0.8rem;
  & > :last-child {
    margin-bottom: 0;
  }
}
