 /* #footer
   -------------------------------------------------------------------------- */
/**
 * グローバルフッターです。
 * `.l-content`との余白は`.l-content`側で指定します。
 * Elementでグローバルフッター内のレイアウトを指定します。
 */
.l-footer {
  & > :last-child {
    margin-bottom: 0;
  }
}

.l-footer__link {

}

.l-footer__logo {

}

.l-footer__copyright {

}
