 /* #sidebar
   -------------------------------------------------------------------------- */
/**
 * サイドバーです。
 * `.l-wrapper__2culumn`を使用することで2カラムレイアウトにすることもできます。
 * e.g.
 * <div class="l-wrapper">
 *   <div class="l-wrapper__inner">
 *     <div class="l-wrapper__2culumn">
 *       <main class="l-wrapper__content"></main>
 *       <aside class="l-wrapper__sidebar">
 *         <div class="l-sidebar"></div>
 *       </aside>
 *     </div>
 *   </div>
 * <div>
 */
.l-sidebar {
  & > :last-child {
    margin-bottom: 0;
  }
}

.l-sidebar__nav {
  & > :last-child {
    margin-bottom: 0;
  }
}

.l-sidebar__banner {
  & > :last-child {
    margin-bottom: 0;
  }
}

.l-sidebar__links {
  & > :last-child {
    margin-bottom: 0;
  }
}
