 /* #wrapper
   -------------------------------------------------------------------------- */
/**
 * メインコンテンツ、もしくはメインコンテンツとサイドバーをラップします。
 * `.l-wrapper__2culumn`を指定することで2カラムレイアウトにすることができます。
 */
.l-wrapper {
  display: block;
  width: 100%;
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
}

/**
 * メインコンテンツとサイドバーを2カラムレイアウトにしたいときに使用します。
 * e.g.
 * <div class="l-wrapper">
 *   <header class="l-wrapper__header"></header>
 *   <div class="l-wrapper__2culumn"></div>
 * <div>
 */
.l-wrapper__header {
  margin-bottom: 3.2rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

/**
 * メインコンテンツとサイドバーを2カラムレイアウトにしたいときに使用します。
 * e.g.
 * <div class="l-wrapper">
 *   <div class="l-wrapper__2culumn">
 *     <main class="l-wrapper__content"></main>
 *     <aside class="l-wrapper__sidebar"></aside>
 *   </div>
 * <div>
 */
.l-wrapper__2culumn {
  display: block;
  margin-left: -2rem;
  font-size: 0;
  @apply --listUnstyled;
}

.l-wrapper__2culumn > .l-wrapper__content,
.l-wrapper__2culumn > .l-wrapper__sidebar {
  display: inline-block;
  width: 100%;
  padding-left: 2rem;
  font-size: medium;
  font-size: 1rem;
  vertical-align: top;
}

@media (--md-up) {
  .l-wrapper__2culumn > .l-wrapper__content {
    width: calc((8 / 12) * 100%);
  }
  .l-wrapper__2culumn > .l-wrapper__sidebar {
    width: calc((4 / 12) * 100%);
  }
}
