 /* #embed
   -------------------------------------------------------------------------- */
.p-embed {
  display: block;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: calc((9 / 16) * 100%);
}

.p-embed__item,
.p-embed iframe,
.p-embed embed,
.p-embed object,
.p-embed video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.p-embed--4to3 {
  padding-bottom: calc((3 / 4) * 100%);
}
