 /* #display
   -------------------------------------------------------------------------- */
.u-dn {
  display: none !important;
}

@media (--md-up) {
  .u-dn-md {
    display: none !important;
  }
}

@media (--lg-up) {
  .u-dn-lg {
    display: none !important;
  }
}


.u-db {
  display: block !important;
}

@media (--md-up) {
  .u-db-md {
    display: block !important;
  }
}

@media (--lg-up) {
  .u-db-lg {
    display: block !important;
  }
}

.u-di {
  display: inline !important;
}

@media (--md-up) {
  .u-di-md {
    display: inline !important;
  }
}

@media (--lg-up) {
  .u-di-lg {
    display: inline !important;
  }
}

.u-dib {
  display: inline-block !important;
}

@media (--md-up) {
  .u-dib-md {
    display: inline-block !important;
  }
}

@media (--lg-up) {
  .u-dib-lg {
    display: inline-block !important;
  }
}
