 /* #width
   -------------------------------------------------------------------------- */
.u-width-1of12 { width: calc((1 / 12) * 100%); }
.u-width-2of12 { width: calc((2 / 12) * 100%); }
.u-width-3of12 { width: calc((3 / 12) * 100%); }
.u-width-4of12 { width: calc((4 / 12) * 100%); }
.u-width-5of12 { width: calc((5 / 12) * 100%); }
.u-width-6of12 { width: calc((6 / 12) * 100%); }
.u-width-7of12 { width: calc((7 / 12) * 100%); }
.u-width-8of12 { width: calc((8 / 12) * 100%); }
.u-width-9of12 { width: calc((9 / 12) * 100%); }
.u-width-10of12 { width: calc((10 / 12) * 100%); }
.u-width-11of12 { width: calc((11 / 12) * 100%); }
.u-width-12of12 { width: calc((12 / 12) * 100%); }

@media (--md-up) {
  .u-width-1of12 { width: calc((1 / 12) * 100%); }
  .u-width-2of12 { width: calc((2 / 12) * 100%); }
  .u-width-3of12 { width: calc((3 / 12) * 100%); }
  .u-width-4of12 { width: calc((4 / 12) * 100%); }
  .u-width-5of12 { width: calc((5 / 12) * 100%); }
  .u-width-6of12 { width: calc((6 / 12) * 100%); }
  .u-width-7of12 { width: calc((7 / 12) * 100%); }
  .u-width-8of12 { width: calc((8 / 12) * 100%); }
  .u-width-9of12 { width: calc((9 / 12) * 100%); }
  .u-width-10of12 { width: calc((10 / 12) * 100%); }
  .u-width-11of12 { width: calc((11 / 12) * 100%); }
  .u-width-12of12 { width: calc((12 / 12) * 100%); }
}

@media (--lg-up) {
  .u-width-1of12 { width: calc((1 / 12) * 100%); }
  .u-width-2of12 { width: calc((2 / 12) * 100%); }
  .u-width-3of12 { width: calc((3 / 12) * 100%); }
  .u-width-4of12 { width: calc((4 / 12) * 100%); }
  .u-width-5of12 { width: calc((5 / 12) * 100%); }
  .u-width-6of12 { width: calc((6 / 12) * 100%); }
  .u-width-7of12 { width: calc((7 / 12) * 100%); }
  .u-width-8of12 { width: calc((8 / 12) * 100%); }
  .u-width-9of12 { width: calc((9 / 12) * 100%); }
  .u-width-10of12 { width: calc((10 / 12) * 100%); }
  .u-width-11of12 { width: calc((11 / 12) * 100%); }
  .u-width-12of12 { width: calc((12 / 12) * 100%); }
}
