:root {
  --max-width: 960px;
  --color: #000;
  --color--link: #2b70ba;
  --background-color: #fff;
  --border-radius: 3px;
  --font-size--secondary: 0.85em;
  --font-weight--normal: 400;
  --font-weight--bold: 600;
}
