 /* #button
   -------------------------------------------------------------------------- */
/*
---
name: button
category: Atoms
tag: Form
---

ボタンのデフォルトスタイルです。

```jade
a.a-button(href="#") ボタン
button.a-button(type="button") ボタン
input.a-button(type="button" value="ボタン")
a.a-button.is-disabled(href="#") .is-disabled
button.a-button(type="button" disabled) disabled
input.a-button(type="button" disabled value="disabled")
```
*/
:root {
  --a-button: {
    display: inline-block;
    margin: 0;
    padding: 1em 2em;
    border: none;
    border: 1px solid #d0d0d0;
    border-radius: var(--form--border-radius);
    color: #fff;
    font-family: inherit;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background: transparent;
    background-color: var(--color--link);
    cursor: pointer;
    appearance: none;
    transition-duration: var(--form--transition-duration);
    transition-property: var(--form--transition-property);

    &:--onEvent {
      text-decoration: none;
    }

    &:focus {

    }

    &:disabled {
      cursor: var(--form--disabled-cursor);
      opacity: var(--form--disabled-opacity);
      background-color: var(--form--disabled-background-color);
    }

    &.is-disabled {
      cursor: var(--form--disabled-cursor);
      opacity: var(--form--disabled-opacity);
      background-color: var(--form--disabled-background-color);
      pointer-events: none;
    }
  }
}

.a-button {
  @apply --a-button;
}

.a-button--full {
  width: 100%;
}

.a-button--primary {}
.a-button--secondary {}
.a-button--tertiary {}
.a-button--quaternary {}

.a-buttonSearch {
  @apply --a-button;

  &:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }
}
