 /* #divider
   -------------------------------------------------------------------------- */
/*
---
name: divider
category: Atoms
tag: Text
---

`<hr>`のような区切り記号を使って、分割・グルーピングします。

```jade
p.t-content__text テキストです。
hr.a-divider
p.t-content__textSmall テキストです
hr.a-divider.a-divider--small
p.t-content__textSmall テキストです
```
*/
:root {
  --a-divider: {
    box-sizing: inherit;
    display: block;
    width: 100%;
    height: auto;
    margin: 1.2em auto;
    border: 0;
    border-top: 1px solid #e5e5e5;
  }
}

.a-divider {
  @apply --a-divider;
}

.a-divider--small {
  margin: 0.6em auto;
}
