 /* #embed
   -------------------------------------------------------------------------- */
/*
---
name: embed
category: Atoms
tag: Embed
---

Youtubeなどをレスポンシブ対応させます。

```jade
.a-embed.
  <iframe width="560" height="315" src="https://www.youtube.com/embed/1OKZOV-iLj4"></iframe>
```
*/
:root {
  --a-embed: {
    display: block;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: calc((9 / 16) * 100%);

    &__item,
    & iframe,
    & embed,
    & object,
    & video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
.a-embed {
  @apply --a-embed;
}

.a-embed--4to3 {
  padding-bottom: calc((3 / 4) * 100%);
}
