 /* #heading3
   -------------------------------------------------------------------------- */
/*
---
name: heading3
category: Atoms
tag: Heading
---

`<h3>`で使われるような見出しのスタイルです。

```jade
h3.a-heading3.t-content__heading3 h3見出しです
h3.a-heading3 h3見出しです
```
*/
.a-heading3 {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.4;
  padding: 0.5em;
  background-color: #f3f3f3;
  border-left: 5px solid #0a41a6;
}
