 /* #link
   -------------------------------------------------------------------------- */
/*
---
name: linkMore
category: Atoms
tag: Link
---

クリックを促すようなテキストリンクに使います。

```jade
p: a.a-link(href="#") Moreリンク

p: a.a-link.a-linkMore(href="#")
  | 詳しく見る
  span.a-linkMore__icon(aria-hidden="true")

p: a.a-link.a-linkMore(href="#")
  | Moreリンクが長文になったときの表示のされ方をテストします
  span.a-linkMore__icon(aria-hidden="true")
```
*/
.a-linkMore {
  text-decoration: none;

  &:--onEvent {
    text-decoration: underline;
  }
}

.a-linkMore__icon:after {
  @apply --icon;
  content: var(--icon--angle-right);
  top: -0.1em;
  left: 0.25em;
  font-size: 0.8em;
}
