 /* #link
   -------------------------------------------------------------------------- */
/*
---
name: link
category: Atoms
tag: Link
---

テキストリンクのデフォルトスタイルです。

```jade
p: a.a-link(href="#") リンク
```
*/
:root {
  --a-link: {
    color: var(--color--link);
    text-decoration: underline;

    &:--onEvent {
      color: var(--color--link-hover);
      text-decoration: underline;
    }
  }
}

.a-link {
  @apply --a-link;
}
