 /* #listNoteOrder
   -------------------------------------------------------------------------- */
/*
---
name: listNoteOrder
category: Atoms
tag: List
---

順序つきの注釈用リストです。米印やアスタリスクが表示されます。

```jade
ul.a-listNoteOrder
  li 1つ目の注釈です。
  li 2つ目の注釈です。

div(lang="en")
  ul.a-listNoteOrder
    li This is the first annotation.
    li This is the second annotation.
```
*/
.a-listNoteOrder {
  @apply --listUnstyled;
}

.a-listNoteOrder > li {
  counter-increment: noteOrder;
  font-size: var(--font-size--secondary);
  &:target {
    background-color: lightgray;
  }
  &:before {
    content: "※" counter(noteOrder);
    margin-right: 0.25em;
  }
}

/* 英語と簡体字では注釈にアスタリスクを使う。 */
[lang="en"] .a-list--noteOrder > li:before,
[lang="zh-cn"] .a-list--noteOrder > li:before {
  content: "*" counter(noteOrder);
}
