 /* #listNoteOrder
   -------------------------------------------------------------------------- */
/*
---
name: listNoteOrder
category: Atoms
tag: List
---

順序つきの注釈用リストです。米印やアスタリスクが表示されます。

```jade
ul.a-listNoteOrder
  li 1つ目の注釈です。
  li 2つ目の注釈です。

div(lang="en")
  ul.a-listNoteOrder
    li This is the first annotation.
    li This is the second annotation.
```
*/
:root {
  --a-listNoteOrder: {
    @apply --listUnstyled;

    & > li {
      counter-increment: noteOrder;
      font-size: var(--font-size--secondary);
    }

    & > li:target {
      background-color: lightgray;
    }

    & > li:before {
      content: "※" counter(noteOrder);
      margin-right: 0.25em;
    }
  }
}

.a-listNoteOrder {
  @apply --a-listNoteOrder;
}

/* 英語と簡体字では注釈にアスタリスクを使う。 */
[lang="en"] .a-listNoteOrder > li:before,
[lang="zh-cn"] .a-listNoteOrder > li:before {
  content: "*" counter(noteOrder);
}
