 /* #listBracketOrder
   -------------------------------------------------------------------------- */
/*
---
name: listBracketOrder
category: Atoms
tag: List
---

括弧で囲んだ順序リストです。

```jade
ul.a-listBracketOrder
  li 1つ目のリストです。
  li 2つ目のリストです。
```
*/
:root {
  --a-listBracketOrder: {
    @apply --listUnstyled;

    & > li {
      counter-increment: bracketOrder;
    }

    & > li:before {
      content: "(" counter(bracketOrder) ")";
      margin-right: 0.25em;
    }
  }
}

.a-listBracketOrder {
  @apply --a-listBracketOrder;
}
