 /* #list
   -------------------------------------------------------------------------- */
/*
---
name: list
category: Atoms
tag: List
---

リストアイテムの左に役物などを表示します。

```jade
ul.a-list.t-content__textSmall
  li リストです。複数行になったときの表示方法を確認します。複数行になったときの表示方法を確認します。複数行になったときの表示方法を確認します。

ul.a-list.a-list--note.t-content__text
  li 注釈用のリストです。
  li 注釈用のリストです。

ol.a-list.a-list--noteOrder.t-content__text
  li 順序をつけた注釈用のリストです。
  li 順序をつけた注釈用のリストです。

ol.a-list.a-list--bracketOrder.t-content__text
  li 括弧をつけた順序リストです。
  li 括弧をつけた順序リストです。

ol.a-list.a-list--order.t-content__text
  li 入れ子に対応した順序リストです。
  li 入れ子に対応した順序リストです。
    ol
      li 入れ子に対応した順序リストです。
```
*/
.a-list {
  display: table;
  @apply --listUnstyled;
}

/**
 * 音声ブラウザに読み上げるのが適切でない役物やアイコンなどは、
 * `background-image`で表示させるか、
 * `li:before`ではなく`li > span:before`に表示して`<span aria-hidden="true">`のように指定します。
 */
.a-list > li {
  display: table-row;
  &:before,
  & > span:before {
    display: table-cell;
  }
}

/* ※list */
.a-list--note > li {
  font-size: var(--font-size--secondary);
}
.a-list--note > li:before {
  content: "※";
}

/* ※1 list */
.a-list--noteOrder > li {
  counter-increment: noteOrder;
  font-size: var(--font-size--secondary);
  &:target {
    background-color: lightgray;
  }
  &:before {
    content: "※" counter(noteOrder);
    padding-right: 0.25em;
  }
}

/* (1) list */
.a-list--bracketOrder > li {
  counter-increment: bracketOrder;
  &:before {
    content: "(" counter(bracketOrder) ")";
    padding-right: 0.25em;
  }
}

/**
 * 1 list
 *   1.1 list
 *   1.2 list
 */
.a-list--order li {
  counter-increment: order;
  &:before {
    content: counters(order, ".");
    padding-right: 0.5em;
    text-align: right;
  }
  & ol {
    counter-reset: order;
    @apply --listUnstyled;
  }
}
