 /* #textAttention
   -------------------------------------------------------------------------- */
/*
---
name: textAttention
category: Atoms
tag: Text
---

`<p>`や`<strong>`で使われるようなスタイルです。注意や注目を引きたい場合に使います。

```jade
p.a-textAttention.t-content__text 注目を引きたい文章です。
p 通常の文章です。
  strong.a-textAttention.t-content__text ただし、○○は注意してください。
```
*/
:root {
  --a-textAttention: {
    color: #a94442;
  }
}

.a-textAttention {
  @apply --a-textAttention;
}
