 /* #textEmphasis
   -------------------------------------------------------------------------- */
/*
---
name: textEmphasis
category: Atoms
tag: Text
---

`<p>`や`<strong>`で使われるようなスタイルです。強調や重要性を示すときに使います。

```jade
p.a-textEmphasis.t-content__text 重要な文章です。
p 一般的な文章です。
  strong.a-textEmphasis 強調したいキーワード
  | です。
```
*/
.a-textEmphasis {
  font-weight: var(--font-weight--bold);
}
