 /* #textarea
   -------------------------------------------------------------------------- */
/*
---
name: textarea
category: Atoms
tag: Form
---

`<textarea>`のデフォルトスタイルです。

```jade
textarea.a-textarea(placeholder="テキストエリアです")

label(for="textarea1").a-textarea__textTop textareaタグの説明です。
textarea.a-textarea(id="textarea1" placeholder="テキストエリアです")

textarea.a-textarea(id="textarea2" placeholder="テキストエリアです")
label(for="textarea2").a-textarea__textTop textareaタグの説明です。

textarea.a-textarea.a-textarea--large(placeholder="テキストエリアです")

textarea.a-textarea(placeholder="disabled" disabled)
```
*/
.a-textarea {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 7em;
  margin: 0;
  padding: 0.5em 1em;
  font-size: 1em;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  box-shadow:1px 1px 6px -3px #9e9e9e inset;
  border-radius: var(--form--border-radius);
  appearance: none;
  transition-duration: var(--form--transition-duration);
  transition-property: var(--form--transition-property);

  &::placeholder {
    color: var(--form--placeholder-color);
  }

  &:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }

  &:disabled {
    cursor: var(--form--disabled-cursor);
    opacity: var(--form--disabled-opacity);
    background-color: var(--form--disabled-background-color);
  }
}

.a-textarea--large {
  height: 14em;
}

.a-textarea__textTop {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.a-textarea__textBottom {
  display: inline-block;
  margin-top: 0.25rem;
}
