 /* #title
   -------------------------------------------------------------------------- */
/*
---
name: title
category: Atoms
tag: Heading
---

`<h3>`で使われるような見出しのスタイルです。

```jade
h1.a-title.t-content__title ページタイトルです。
h1.a-title ページタイトルです。
```
*/
.a-title {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.4;
  border-bottom: 5px solid #eee;
}
