@custom-selector :--onEvent :hover, :active, :focus;

@custom-media --md-up screen and (min-width: 768px);
@custom-media --lg-up screen and (min-width: 1000px);
@custom-media --md-down screen and (max-width: 767px);
@custom-media --lg-down screen and (max-width: 999px);

:root {
  --clearfix: {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  --listUnstyled: {
    padding-left: 0;
    list-style-type: none;
  }

  --truncate: {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  --srOnly: {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    overflow: hidden;
    padding: 0;
    clip: rect(0, 0, 0, 0);
  }
}
