 /* #block
   -------------------------------------------------------------------------- */
.p-block {
  display: block;
  width: 100%;
}

.p-block__item {
  display: block;
  width: 100%;
  > :last-child {
    margin-bottom: 0;
  }
}

.p-block__item:not(:first-of-type) {
  margin-top: 0.25em;
}

.p-block__image {
  display: block;
  width: 100%;
  max-width: none;
}

.p-block--reverse {
  display: table;
  & > .p-block__item:first-child {
    margin-top: 0.5rem;
  }
  & > .p-block__item:last-child {
    display: table-header-group;
  }
}

@media (--md-up) {
  .p-block--reverse-md {
    display: table;
    & > .p-block__item:first-child {
      margin-top: 0.5rem;
    }
    & > .p-block__item:last-child {
      display: table-header-group;
    }
  }
}

@media (--lg-up) {
  .p-block--reverse-lg {
    display: table;
    & > .p-block__item:first-child {
      margin-top: 0.5rem;
    }
    & > .p-block__item:last-child {
      display: table-header-group;
    }
  }
}
