 /* #figure
   -------------------------------------------------------------------------- */
.p-figure {
  display: table;
  /* キャプションの最小幅。 */
  min-width: 280px;
}

.p-figure__image {
  display: block;
  margin: 0 auto;
}

.p-figure__captionTop,
.p-figure__captionBottom {
  display: table-caption;
  font-size: 0.8rem;
}

.p-figure__captionTop {
  caption-side: top;
}

.p-figure__captionBottom {
  caption-side: bottom;
}
