 /* #listMark
   -------------------------------------------------------------------------- */
.p-listMark {
  display: table;
  @apply --listUnstyled;
}

.p-listMark__item {
  display: table-row;
}

.p-listMark__icon {
  display: table-cell;
}

.p-listMark__items {
  @apply --listUnstyled;
}
