 /* #media
   -------------------------------------------------------------------------- */
.p-media {
  display: block;
  @apply --clearfix;
}

.p-media__image {
  float: left;
  margin-right: 1rem;
  & > :last-child {
    margin-bottom: 0;
  }
}

.p-media__image > img {
  display: block;
}

.p-media__body {
  display: block;
  overflow: hidden;
  & > :last-child {
    margin-bottom: 0;
  }
}

.p-media--reverse > .p-media__image {
  float: right;
  margin-right: 0;
  margin-left: 1rem;
}

@media (--md-up) {
  .p-media--reverse-md > .p-media__image {
    float: right;
    margin-right: 0;
    margin-left: 1rem;
  }
}

@media (--lg-up) {
  .p-media--reverse-lg > .p-media__image {
    float: right;
    margin-right: 0;
    margin-left: 1rem;
  }
}
