 /* #ratio
   -------------------------------------------------------------------------- */
.p-ratio {
  display: block;
  overflow: hidden;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: calc((1 / 1) * 100%);
  }
}

.p-ratio__content,
.p-ratio > iframe,
.p-ratio > embed,
.p-ratio > object {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-ratio--16to9:before {
  padding-bottom: calc((9 / 16) * 100%);
}

.p-ratio--4to3:before {
  padding-bottom: calc((3 / 4) * 100%);
}

.p-ratio--3to2:before {
  padding-bottom: calc((2 / 3) * 100%);
}

.p-ratio--2to1:before {
  padding-bottom: calc((1 / 2) * 100%);
}
