 /* #block
   -------------------------------------------------------------------------- */
.m-block {
  display: block;
  width: 100%;
}

.m-block__item {
  display: block;
  width: 100%;
  & > :last-child {
    margin-bottom: 0;
  }
}

.m-block__item:not(:first-of-type) {
  margin-top: 0.5em;
}

.m-block__heading {
  margin-bottom: 0.5em;
}

.m-block__text {
  margin-bottom: 1em;
}

.m-block__image {
  display: block;
  width: 100%;
  max-width: none;
}

.m-block--reverse {
  display: table;
  & > .m-block__item:first-child {
    margin-top: 0.5em;
  }
  & > .m-block__item:last-child {
    display: table-header-group;
  }
}

@media (--md-up) {
  .m-block--reverse-md {
    display: table;
    & > .m-block__item:first-child {
      margin-top: 0.5em;
    }
    & > .m-block__item:last-child {
      display: table-header-group;
    }
  }
}

@media (--lg-up) {
  .m-block--reverse-lg {
    display: table;
    & > .m-block__item:first-child {
      margin-top: 0.5em;
    }
    & > .m-block__item:last-child {
      display: table-header-group;
    }
  }
}
