 /* #breadcrumb
   -------------------------------------------------------------------------- */
/*
---
name: breadcrumb
category: Molecules
tag: Navigation
---

パンくずリストオブジェクトです。

```jade
ol.m-breadcrumb
  li.m-breadcrumb__item
    a.m-breadcrumb__link(href="/") ホーム
  li.m-breadcrumb__item
    a.m-breadcrumb__link(href="#") カテゴリ名
  li.m-breadcrumb__item ページ名
```
*/
.m-breadcrumb {
  @apply --truncate;
  @apply --listUnstyled;
  font-size: 0;
}

.m-breadcrumb__item {
  display: inline-block;
  font-size: 1rem;
  &:last-child {
    display: inline;
  }
}

.m-breadcrumb__link {
  display: inline-block;
}

.m-breadcrumb__item:not(:first-of-type):before {
  content: "/";
  margin: 0 0.5em;
}
