 /* #listInline
   -------------------------------------------------------------------------- */
.m-listInline {
 display: block;
  @apply --clearfix;
}

.m-listInline__item {
  float: left;
}

.m-listInline--medium > .m-listInline__item:not(:last-child) {
  margin-right: 1em;
}
