 /* #listInline
   -------------------------------------------------------------------------- */
.m-listInline {
  display: block;
  font-size: 0;
  @apply --listUnstyled;
}

.m-listInline__item {
  display: inline-block;
  font-size: medium;
  font-size: 1rem;
  vertical-align: top;
}

.m-listInline--medium > .m-listInline__item:not(:last-child) {
  margin-right: 1rem;
}
