 /* #thumbnail
   -------------------------------------------------------------------------- */
/*
---
name: thumbnail
category: Molecules
---

リンク付きのサムネイル画像とテキストからなるコンポーネントです。
見出しは画像の上下どちらにも付けることができます。
`.m-thumbnail__fixed`を指定すると、画像の下側に重なるように表示できます。

```jade
a.m-thumbnail(href="#")
  .m-thumbnail__body
    img.m-thumbnail__image(src="https://placehold.jp/600x400.png" alt="")
    .m-thumbnail__block
      .m-thumbnail__blockInner
        h2.m-thumbnail__blockHeading 見出しです。
  .m-thumbnail__foot
    p フッターテキストです。

a.m-thumbnail(href="#")
  .m-thumbnail__head
    .m-thumbnail__block
      .m-thumbnail__blockInner
        h2.m-thumbnail__blockHeading 見出しです。
  .m-thumbnail__body
    img.m-thumbnail__image(src="https://placehold.jp/600x400.png" alt="")
  .m-thumbnail__foot
    p フッターテキストです。

a.m-thumbnail(href="#")
  .m-thumbnail__body
    img.m-thumbnail__image(src="https://placehold.jp/600x400.png" alt="")
    .m-thumbnail__fixed
      h2.m-thumbnail__fixedHeading 見出しです。見出しです。
  .m-thumbnail__foot
    p フッターテキストです。
```
*/
:root {
  --m-thumbnail--opacity: 0.8;
  --m-thumbnail--duration: 0.3s;
}

.m-thumbnail {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
  transition-duration: var(--m-thumbnail--duration);
}

.m-thumbnail__head {

}

.m-thumbnail__body {
  position: relative;
}

.m-thumbnail__image {
  display: block;
  width: 100%;
  max-width: none;
  transition-duration: var(--m-thumbnail--duration);
}

/* 画像の上下に見出しを表示するパターン */
.m-thumbnail__block {
  display: table;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  background-color: #e8e8e8;
  transition-duration: var(--m-thumbnail--duration);
}

.m-thumbnail__blockHeading {
  display: table-row;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4;
}

.m-thumbnail__blockHeading:before {
  content: "";
  display: table-cell;
  position: relative;
  top: 0;
  left: 0;
  width: 0.8em;
  vertical-align: middle;
  background-image: url("/assets/img/icon_thumbnail-block.svg");
  background-repeat: no-repeat;
  background-size: 0.4em;
  background-position: left center;
}

/* 画像にかぶせるようにして見出しを表示するパターン */
.m-thumbnail__fixed {
  position: absolute;
  left: 0;
  bottom: 0;
  display: table;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em 3em 1em 1em;
  text-decoration: none;
  transition-duration: var(--m-thumbnail--duration);
}

.m-thumbnail__fixed:before {
  content: "";
  position: absolute;
  top: 0;
  right: 1em;
  bottom: 0;
  width: 1em;
  height: 1em;
  margin: auto;
  vertical-align: middle;
  background-image: url("/assets/img/icon_thumbnail-fixed.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.m-thumbnail__fixedHeading {
  display: block;
  font-size: 1em;
  font-weight: 400;
}

.m-thumbnail__foot {
  margin-top: 0.5em;
}


/* State */
.m-thumbnail:--onEvent {
  text-decoration: none;

  & .m-thumbnail__image {
    opacity: var(--m-thumbnail--opacity);
  }

  & .m-thumbnail__block {
    background-color: #e8eefa;
  }

  & .m-thumbnail__fixed {
    opacity: var(--m-thumbnail--opacity);
  }
}
