@charset "UTF-8";

/* =============================================================================
   #Foundation
   ========================================================================== */
/**
 * FoundationレイヤーではNormalize.cssやリセットCSS、
 * 要素セレクタや属性セレクタのようなコンポーネントのベースとなるスタイルを定義します。
 * SettingレイヤーとToolレイヤーでは、
 * CSS Variablesや@apply Rule、Sassの変数や@mixinなどで変数と関数を管理します。
 */
@import 'foundation/setting/_setting.css';
@import 'foundation/tool/_tool.css';

/* -----------------------------------------------------------------------------
   #Base
   -------------------------------------------------------------------------- */
/**
 * BaseレイヤーではNormalize.cssやリセットCSS、
 * 要素セレクタや属性セレクタのようなコンポーネントのベースとなるスタイルを定義します
 * 詳細度はクラスセレクタと同じ0,0,1,0以下になるように極力低くします。
 * メディアクエリや擬似クラスのような、ある状況やある状態に対するスタイルは極力持つべきではありません。
 * 自分自身の構造を持つことはできますが、装飾と配置、コンポーネントを内包することはできません。
 * リセットをするよりも継承を利用するようにします。
 * コンポーネント間の余白を管理しやすくするために、上下方向の`margin`は`0`にリセットしておくのを推奨します。
 */
@import 'foundation/base/_base.css';

/* =============================================================================
   #Object
   ========================================================================== */
/**
 * Objectレイヤーはプロジェクトを問わず、横断的に再利用できるようなコンポーネントを定義します。
 * OOCSSにおける構造の役割を担当し、装飾的なスタイルを持つことはできません。
 * コンポーネントを内包することもできますが、配置に関する情報だけを持つことができます。
 * Objectコンポーネントをそのまま使うこともできますし、Objectコンポーネントの構造を使って別のコンポーネントを拡張することもできます。
 * ただし、Objectコンポーネントをセレクタにすることは極力避けます。
 * プレフィックス（接頭辞）として`.o-`をつけます。
 */
@import 'object/_button.css';
@import 'object/_listNote.css';
@import 'object/_listOrdered.css';
@import 'object/_embed.css';
@import 'object/_listInline.css';
@import 'object/_ratio.css';
@import 'object/_block.css';
@import 'object/_table.css';
@import 'object/_media.css';
@import 'object/_flag.css';
@import 'object/_layout.css';
@import 'object/_wrapper.css';

/* =============================================================================
   #Parts
   ========================================================================== */
/**
 * Partsレイヤーは装飾的なスタイルを持つ、再利用できる小さなコンポーネントを定義します。
 * 目安としては、見出しやリスト、ボタンやラベルのような他のコンポーネントを内包できない小さなコンポーネントです。
 * 内包されるコンポーネントなので配置に関する情報を持つことはできません。
 * プレフィックス（接頭辞）として`.p-`をつけます。
 */
@import 'parts/_label.css';
@import 'parts/_buttonPrimaly.css';
@import 'parts/_headingH2.css';
@import 'parts/_headingH3.css';

/* =============================================================================
   #Container
   ========================================================================== */
/**
 * ContainerレイヤーはObjectレイヤーやPartsレイヤーを内包できる比較的大きなコンポーネントを定義します。
 * Containerコンポーネントがユーザーインターフェイスの見た目と構造を確定するので、
 * 自分自身と内包するコンポーネントに対して具体的な情報を持つべきです。
 * ただし、内包するコンポーネントに直接指定するのではなく、自身のElementに対して指定することを推奨します。
 * 役割がより明確になり詳細度を低く保てるからです。
 * 基本的にはContainerコンポーネント自身の配置を指定することはできませんが、
 * JavaScriptで動的に表示や配置の変更がされるUIの場合は許容されます。
 * プレフィックス（接頭辞）として`.c-`をつけます。
 */
@import 'container/_listMark.css';
@import 'container/_breadcrumb.css';

/* =============================================================================
   #Layout
   ========================================================================== */
/**
 * Layoutレイヤーはワイヤーフレームに出てくるような大枠のレイアウトを担当するコンポーネントを定義します。
 * Layoutコンポーネントによってページ内のレイアウトが確定します。
 * 装飾的なスタイルを持つことも、内包するモジュールを上書きすることもできません。
 * Layoutコンポーネントは完全にレイアウトに特化したコンポーネントです。
 * 内包するコンポーネントのレイアウトは自身のElementで指定します。
 * 内包するコンポーネントと同じ要素に指定することを避けて、コンポーネント同士が干渉しないようにします。
 * プレフィックス（接頭辞）として`.l-`をつけます。
 */
@import 'layout/_header.css';
@import 'layout/_footer.css';
@import 'layout/_content.css';

/* =============================================================================
   #Scope
   ========================================================================== */
/**
 * Scopeレイヤーはカテゴリやブログのような特定の範囲でのスタイルを定義します。
 * コンポーネント単位ではなく、任意の範囲（スコープ）に対するスタイルを指定します。
 * Scopeレイヤー自身も内包するコンポーネントにも装飾的なスタイルや配置に関する指定をすることもできる、
 * 影響範囲の大きなレイヤーです。
 * 影響範囲ができるだけ小さくなるように適応する範囲や要素を限定しなければいけません。
 * プレフィックス（接頭辞）として`.s-`をつけます。
 */
@import 'scope/_blog.css';

/* =============================================================================
   #Utility
   ========================================================================== */
/**
 * Utilityレイヤーは汎用クラスを定義します。
 * シングルクラスでも確実にスタイルを適応させるために`!important`を指定することを推奨します。
 * コンポーネントがUtilityコンポーネントで成り立ってしまうことはできるだけできるだけ避けます。
 * 基本的にコンポーネントは自分自身で役割を果たせるように考えるべきです。
 * Utilityコンポーネントは他のレイヤーが持つよりも汎用的に使えたり、コードが冗長になってしまう場合に使います。
 * プレフィックス（接頭辞）として`.u-`をつけます。
 */
@import 'utility/_align.css';
@import 'utility/_text.css';
@import 'utility/_display.css';
@import 'utility/_width.css';
