@charset "UTF-8";

/* =============================================================================
   #Foundation
   ========================================================================== */
/**
 * FoundationレイヤーではNormalize.cssやリセットCSS、
 * 要素セレクタや属性セレクタのようなコンポーネントのベースとなるスタイルを定義します。
 * SettingレイヤーとToolレイヤーでは、
 * CSS Variablesや@apply Rule、Sassの変数や@mixinなどで変数と関数を管理します。
 */
@import "foundation/setting/_setting.css";
@import "foundation/tool/_tool.css";

/* -----------------------------------------------------------------------------
   #Base
   -------------------------------------------------------------------------- */
/**
 * BaseレイヤーではNormalize.cssやリセットCSS、
 * 要素セレクタや属性セレクタのようなコンポーネントのベースとなるスタイルを定義します
 * 詳細度はクラスセレクタと同じ0,0,1,0以下になるように極力低くします。
 * メディアクエリや擬似クラスのような、ある状況やある状態に対するスタイルは極力持つべきではありません。
 * 自分自身の構造を持つことはできますが、装飾と配置、コンポーネントを内包することはできません。
 * リセットをするよりも継承を利用するようにします。
 * コンポーネント間の余白を管理しやすくするために、上下方向の`margin`は`0`にリセットしておくのを推奨します。
 */
@import "../node_modules/normalize.css/normalize.css";
@import "foundation/base/_base.css";

/* =============================================================================
   #Parts
   ========================================================================== */
/**
 * Partsレイヤーは装飾的なスタイルを持つことができる、再利用可能で小さなコンポーネントを定義します。
 * 目安としては、見出しやリスト、ボタンやラベルのような他のコンポーネントを内包できない小さなコンポーネントです。
 * 内包されるコンポーネントなので配置に関する情報を持つことはできません。
 * プレフィックス（接頭辞）として`.p-`をつけます。
 */
@import "parts/_label.css";
@import "parts/_button.css";
@import "parts/_embed.css";
@import "parts/_listNote.css";
@import "parts/_listOrdered.css";
@import "parts/_headingH2.css";
@import "parts/_headingH3.css";

/* =============================================================================
   #Container
   ========================================================================== */
/**
 * ContainerレイヤーはPartsレイヤーを内包できる比較的大きなコンポーネントを定義します。
 * Containerコンポーネントがユーザーインターフェイスの見た目と構造を確定するので、
 * 自分自身と内包するコンポーネントに対して具体的な情報を持つべきです。
 * ただし、役割がより明確になり詳細度を低く保てるように、内包するコンポーネントに直接指定するのではなく、
 * 自身のElementに対して指定することを推奨します。
 * 基本的にはContainerコンポーネント自身の配置を指定することはできませんが、
 * JavaScriptで動的に表示や配置の変更がされるUIの場合は許容されます。
 * プレフィックス（接頭辞）として`.c-`をつけます。
 */
@import "container/_listInline.css";
@import "container/_listMark.css";
@import "container/_breadcrumb.css";
@import "container/_ratio.css";
@import "container/_block.css";
@import "container/_table.css";
@import "container/_media.css";
@import "container/_flag.css";

/* =============================================================================
   #Layout
   ========================================================================== */
/**
 * Layoutレイヤーはワイヤーフレームに出てくるような大枠のレイアウトを担当するコンポーネントを定義します。
 * Layoutコンポーネントによってページ内のレイアウトが確定します。
 * グリッドのようなレイアウト専用のコンポーネントもこのレイヤーに含みます。
 * 装飾的なスタイルを持つことも、内包するモジュールを上書きすることもできません。
 * Layoutコンポーネントは完全にレイアウトに特化したコンポーネントです。
 * 内包するコンポーネントのレイアウトは自身のElementで指定します。
 * 内包するコンポーネントと同じ要素に指定することを避けて、コンポーネント同士が干渉しないようにします。
 * プレフィックス（接頭辞）として`.l-`をつけます。
 */
@import "layout/_grid.css";
@import "layout/_wrapper.css";
@import "layout/_header.css";
@import "layout/_footer.css";
@import "layout/_content.css";

/* =============================================================================
   #Scope
   ========================================================================== */
/**
 * Scopeレイヤーはカテゴリやブログのような特定の範囲でのスタイルを定義します。
 * コンポーネント単位ではなく、任意の範囲（スコープ）に対するスタイルを指定します。
 * Scopeレイヤー自身も内包するコンポーネントにも装飾的なスタイルや配置に関する指定をすることもできる、
 * 影響範囲の大きなレイヤーです。
 * 影響範囲ができるだけ小さくなるように適応する範囲や要素を限定しなければいけません。
 * 例えば`.s-scope .p-button`ではなく、`.s-scope__button`と`.p-button`のマルチクラスで指定します。
 * プレフィックス（接頭辞）として`.s-`をつけます。
 */
@import "scope/_blog.css";

/* =============================================================================
   #Utility
   ========================================================================== */
/**
 * Utilityレイヤーは汎用クラスを定義します。
 * シングルクラスでも確実にスタイルを適応させるために`!important`を指定することを推奨します。
 * コンポーネントがUtilityコンポーネントで成り立ってしまうことはできるだけできるだけ避けます。
 * 基本的にコンポーネントは自分自身で役割を果たせるように考えるべきです。
 * Utilityコンポーネントは他のレイヤーが持つよりも汎用的に使えたり、コードが冗長になってしまう場合に使います。
 * pxのような絶対値ではなく、remや%のような相対値を指定することを推奨します。
 * プレフィックス（接頭辞）として`.u-`をつけます。
 */
@import "utility/_align.css";
@import "utility/_text.css";
@import "utility/_display.css";
@import "utility/_width.css";
