extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;

block content
  .l-wrapper__inner
    textarea.c-textarea(placeholder="テキストエリアです")

    label(for="textarea1").c-textarea__textTop textareaタグの説明です。
    textarea.c-textarea(id="textarea1" placeholder="テキストエリアです")

    textarea.c-textarea(id="textarea2" placeholder="テキストエリアです")
    label(for="textarea2").c-textarea__textTop textareaタグの説明です。

    textarea.c-textarea.c-textarea--large(placeholder="テキストエリアです")
