html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 15px;
  line-height: 1.6;
  @media (--md-up) {
    font-size: 16px;
  }
}

body {
  color: var(--color);
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-kerning: normal;
  background-color: var(--background-color);
}

li {
  & > ul,
  & > ol {
    margin-bottom: 0;
  }
}

/**
 * `dt`と`dd`の左端を揃えます。
 */
dd {
  margin-left: 0;
}

a {
  text-decoration: underline;
  color: var(--color--link);
  &:hover {
    text-decoration: underline;
  }
}

/**
 * 日本語では斜体を使用しないためリセットします。
 */
[lang="ja"] {
  & i,
  & cite,
  & em,
  & address,
  & dfn {
    font-style: normal;
  }
}

/**
 * フルードイメージにします。
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-top: 0;
  margin-bottom: 0;
}
