 /* #wrapper
   -------------------------------------------------------------------------- */
.l-wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
}

.l-wrapper--medium {
  padding-right: 1em;
  padding-left: 1em;
}
